{
  "swagger": "2.0",
  "info": {
    "title": "Bluesky Social",
    "description": "Specification for the Bluesky Social endpoints. Includes endpoints for social interaction, admin, chat, ATProto, and ozone.",
    "contact": {
      "name": "Dan Romano",
      "email": "dan.romano@swolcat.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/mit/"
    },
    "version": "1.0"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.bsky.app/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://example.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social Media"
    }
  ],
  "host": "bsky.social",
  "basePath": "/xrpc",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "bearerAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "Enter 'Bearer' followed by a space and your token."
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/xrpc/app.bsky.actor.getProfile": {
      "get": {
        "tags": [
          "actor"
        ],
        "summary": "Get Profile",
        "x-ms-summary": "Fetch a detailed profile of an actor.",
        "description": "Retrieve a detailed profile view of an actor using their handle or DID.",
        "operationId": "getProfile",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "Handle or DID of the account to fetch the profile of.",
            "x-ms-summary": "Actor Identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed profile fetched successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "profile": {
                  "x-ms-dynamic-schema": {
                    "operationId": "getProfile",
                    "value-path": "profile",
                    "parameters": {
                      "actor": "{actor}"
                    }
                  },
                  "description": "Detailed profile information of the actor."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.getProfiles": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Profiles",
        "description": "Get detailed profile views of multiple actors.",
        "operationId": "getProfiles",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actors",
            "in": "query",
            "required": true,
            "description": "Actor Identifier",
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 25,
            "x-ms-summary": "List of actor identifiers"
          }
        ],
        "responses": {
          "200": {
            "description": "Profiles retrieved successfully.",
            "schema": {
              "type": "object",
              "required": [
                "profiles"
              ],
              "properties": {
                "profiles": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/profileViewDetailed"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ],
                  "description": "Error code indicating the type of failure."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ],
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.getSuggestions": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Suggestions for Actors",
        "description": "Retrieve account suggestions for the user.",
        "operationId": "GetSuggestions",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of suggestions to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved suggested profiles.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next set of results."
                },
                "actors": {
                  "type": "array",
                  "description": "An array of suggested actor profiles.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "did": {
                        "type": "string",
                        "description": "Decentralized Identifier (DID) of the actor."
                      },
                      "handle": {
                        "type": "string",
                        "description": "Unique handle of the actor."
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Display name of the actor."
                      },
                      "description": {
                        "type": "string",
                        "description": "Profile description of the actor."
                      },
                      "avatar": {
                        "type": "string",
                        "format": "uri",
                        "description": "URI of the actor's avatar image."
                      },
                      "associated": {
                        "type": "object",
                        "description": "Associated metadata for the actor.",
                        "properties": {
                          "lists": {
                            "type": "integer",
                            "description": "Number of lists the actor is part of."
                          },
                          "feedgens": {
                            "type": "integer",
                            "description": "Number of feed generators associated with the actor."
                          },
                          "starterPacks": {
                            "type": "integer",
                            "description": "Number of starter packs associated with the actor."
                          },
                          "labeler": {
                            "type": "boolean",
                            "description": "Indicates if the actor is a labeler."
                          },
                          "chat": {
                            "type": "object",
                            "description": "Chat preferences for the actor.",
                            "properties": {
                              "allowIncoming": {
                                "type": "string",
                                "description": "Specifies if incoming chats are allowed."
                              }
                            }
                          }
                        }
                      },
                      "viewer": {
                        "type": "object",
                        "description": "Viewer-specific metadata for the actor.",
                        "properties": {
                          "muted": {
                            "type": "boolean",
                            "description": "Indicates if the actor is muted by the viewer."
                          },
                          "mutedByList": {
                            "$ref": "#/definitions/MutedByList"
                          },
                          "blockedBy": {
                            "type": "boolean",
                            "description": "Indicates if the actor is blocked by the viewer."
                          },
                          "blocking": {
                            "type": "string",
                            "description": "Details of the block, if applicable."
                          },
                          "blockingByList": {
                            "$ref": "#/definitions/BlockingByList"
                          },
                          "following": {
                            "type": "string",
                            "description": "Indicates if the viewer is following the actor."
                          },
                          "followedBy": {
                            "type": "string",
                            "description": "Indicates if the actor is following the viewer."
                          },
                          "knownFollowers": {
                            "type": "object",
                            "description": "Known followers of the actor.",
                            "properties": {
                              "count": {
                                "type": "integer",
                                "description": "Total number of known followers."
                              },
                              "followers": {
                                "type": "array",
                                "description": "List of known followers.",
                                "items": {
                                  "$ref": "#/definitions/ProfileView"
                                }
                              }
                            }
                          }
                        }
                      },
                      "labels": {
                        "type": "array",
                        "description": "Labels associated with the actor.",
                        "items": {
                          "$ref": "#/definitions/Label"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.putPreferences": {
      "post": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Update Preferences for current account",
        "description": "Update the user's preferences.\n",
        "operationId": "PutPreferences",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the preferences to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Preferences"
            },
            "x-ms-summary": "Preferences Payload"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated preferences for the current account.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates whether the preferences update was successful.",
                  "example": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.searchActors": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Search for Actors",
        "description": "Search for actors by a query term.",
        "operationId": "SearchActors",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The search term used to find actors.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search Term"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of results to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of actors matching the search term.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for navigating results."
                },
                "actors": {
                  "type": "array",
                  "description": "An array of actors matching the search criteria.",
                  "items": {
                    "$ref": "#/definitions/profileViewDetailed"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.searchActorsTypeahead": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Search Actors for Typeahead",
        "description": "Retrieve account suggestions for typeahead search.",
        "operationId": "SearchActorsTypeahead",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The search term used for typeahead results.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search Term"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved typeahead suggestions for actors.",
            "schema": {
              "type": "object",
              "properties": {
                "actors": {
                  "type": "array",
                  "description": "An array of minimal actor details matching the typeahead search.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "did": {
                        "type": "string",
                        "description": "Decentralized Identifier (DID) of the actor."
                      },
                      "handle": {
                        "type": "string",
                        "description": "Unique handle of the actor."
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Display name of the actor."
                      },
                      "avatar": {
                        "type": "string",
                        "format": "uri",
                        "description": "URI of the actor's avatar image."
                      },
                      "associated": {
                        "type": "object",
                        "description": "Associated metadata for the actor.",
                        "properties": {
                          "lists": {
                            "type": "integer",
                            "description": "Number of lists the actor is part of."
                          },
                          "feedgens": {
                            "type": "integer",
                            "description": "Number of feed generators associated with the actor."
                          },
                          "starterPacks": {
                            "type": "integer",
                            "description": "Number of starter packs associated with the actor."
                          },
                          "labeler": {
                            "type": "boolean",
                            "description": "Indicates if the actor is a labeler."
                          },
                          "chat": {
                            "type": "object",
                            "description": "Chat preferences for the actor.",
                            "properties": {
                              "allowIncoming": {
                                "type": "string",
                                "description": "Specifies if incoming chats are allowed."
                              }
                            }
                          }
                        }
                      },
                      "viewer": {
                        "type": "object",
                        "description": "Viewer-specific metadata for the actor.",
                        "properties": {
                          "muted": {
                            "type": "boolean",
                            "description": "Indicates if the actor is muted by the viewer."
                          },
                          "mutedByList": {
                            "$ref": "#/definitions/MutedByList"
                          },
                          "blockedBy": {
                            "type": "boolean",
                            "description": "Indicates if the actor is blocked by the viewer."
                          },
                          "blocking": {
                            "type": "string",
                            "description": "Details of the block, if applicable."
                          },
                          "blockingByList": {
                            "$ref": "#/definitions/BlockingByList"
                          },
                          "following": {
                            "type": "string",
                            "description": "Indicates if the viewer is following the actor."
                          },
                          "followedBy": {
                            "type": "string",
                            "description": "Indicates if the actor is following the viewer."
                          },
                          "knownFollowers": {
                            "type": "object",
                            "description": "Known followers of the actor.",
                            "properties": {
                              "count": {
                                "type": "integer",
                                "description": "Total number of known followers."
                              },
                              "followers": {
                                "type": "array",
                                "description": "List of known followers.",
                                "items": {
                                  "$ref": "#/definitions/ProfileView"
                                }
                              }
                            }
                          }
                        }
                      },
                      "labels": {
                        "type": "array",
                        "description": "Labels associated with the actor.",
                        "items": {
                          "$ref": "#/definitions/Label"
                        }
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp of the actor's profile creation."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.describeFeedGenerator": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get information about a feed",
        "x-ms-summary": "Get information about a feed generator",
        "description": "Get information about a feed generator.",
        "operationId": "DescribeFeedGenerator",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "did",
                "feeds"
              ],
              "properties": {
                "did": {
                  "type": "string"
                },
                "feeds": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/describeFeedGeneratorFeed"
                  }
                },
                "links": {
                  "$ref": "#/definitions/describeFeedGeneratorLinks"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getActorFeeds": {
      "get": {
        "tags": [
          "feed"
        ],
        "summary": "Get Actor Feeds",
        "x-ms-summary": "Fetch feeds created by an actor.",
        "description": "Get a list of feeds created by the actor.",
        "operationId": "getActorFeeds",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "The handle or DID of the actor whose feeds are to be retrieved.",
            "x-ms-summary": "Actor Identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of feeds to return (default: 50, max: 100).",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50,
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for retrieving the next set of results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Feeds retrieved successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Cursor for pagination."
                },
                "feeds": {
                  "type": "array",
                  "items": {
                    "x-ms-dynamic-schema": {
                      "operationId": "getActorFeeds",
                      "value-path": "feeds",
                      "parameters": {
                        "actor": "{actor}"
                      }
                    }
                  },
                  "description": "List of feeds created by the actor."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getActorLikes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Liked Posts by an Actor",
        "description": "Retrieve posts liked by a specific actor.",
        "operationId": "GetActorLikes",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "Handle or DID of the actor whose liked posts are being retrieved.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of liked posts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the liked posts by the actor.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for fetching the next page of results."
                },
                "feed": {
                  "type": "array",
                  "description": "An array of posts liked by the actor.",
                  "items": {
                    "type": "object",
                    "description": "Details of a liked post.",
                    "properties": {
                      "post": {
                        "type": "object",
                        "description": "Details of the liked post.",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "description": "URI of the liked post."
                          },
                          "cid": {
                            "type": "string",
                            "description": "Content ID (CID) of the post."
                          },
                          "author": {
                            "$ref": "#/definitions/profileViewDetailed"
                          },
                          "labels": {
                            "type": "array",
                            "description": "Labels associated with the post.",
                            "items": {
                              "$ref": "#/definitions/Label"
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the post was created."
                          },
                          "record": {
                            "type": "object",
                            "description": "Additional record details for the post."
                          },
                          "embed": {
                            "type": "object",
                            "description": "Embedded content within the post."
                          },
                          "replyCount": {
                            "type": "integer",
                            "description": "Number of replies to the post."
                          },
                          "repostCount": {
                            "type": "integer",
                            "description": "Number of reposts of the post."
                          },
                          "likeCount": {
                            "type": "integer",
                            "description": "Number of likes on the post."
                          },
                          "quoteCount": {
                            "type": "integer",
                            "description": "Number of quotes for the post."
                          },
                          "indexedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the post was indexed."
                          },
                          "viewer": {
                            "$ref": "#/definitions/ViewerMetadata"
                          },
                          "threadgate": {
                            "type": "object",
                            "description": "Thread-related metadata.",
                            "properties": {
                              "uri": {
                                "type": "string",
                                "description": "URI of the thread."
                              },
                              "cid": {
                                "type": "string",
                                "description": "CID of the thread."
                              },
                              "record": {
                                "type": "object",
                                "description": "Additional record details for the thread."
                              },
                              "lists": {
                                "type": "array",
                                "description": "Lists associated with the thread.",
                                "items": {
                                  "$ref": "#/definitions/ListMetadata"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getAuthorFeed": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Posts by an Author",
        "description": "Retrieve posts from a specific author.",
        "operationId": "GetAuthorFeed",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "author",
            "in": "query",
            "description": "Handle or DID of the post author.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Author Identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of posts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the posts by the author.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next set of results."
                },
                "feed": {
                  "type": "array",
                  "description": "An array of feed items.",
                  "items": {
                    "type": "object",
                    "description": "Details of a feed item.",
                    "properties": {
                      "post": {
                        "type": "object",
                        "description": "Details of the post.",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "description": "URI of the post."
                          },
                          "cid": {
                            "type": "string",
                            "description": "CID of the post."
                          },
                          "author": {
                            "$ref": "#/definitions/profileViewDetailed"
                          },
                          "record": {
                            "type": "object",
                            "description": "Record metadata for the post."
                          },
                          "embed": {
                            "type": "object",
                            "description": "Embed metadata for the post."
                          },
                          "replyCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of replies to the post."
                          },
                          "repostCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of reposts of the post."
                          },
                          "likeCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of likes on the post."
                          },
                          "quoteCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of quotes of the post."
                          },
                          "indexedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the post was indexed."
                          },
                          "viewer": {
                            "type": "object",
                            "description": "Viewer-specific metadata.",
                            "properties": {
                              "repost": {
                                "type": "string",
                                "description": "URI of the viewer's repost of the post."
                              },
                              "like": {
                                "type": "string",
                                "description": "URI of the viewer's like on the post."
                              },
                              "threadMuted": {
                                "type": "boolean",
                                "description": "Indicates if the viewer muted the thread."
                              },
                              "replyDisabled": {
                                "type": "boolean",
                                "description": "Indicates if replies are disabled for the post."
                              },
                              "embeddingDisabled": {
                                "type": "boolean",
                                "description": "Indicates if embedding is disabled for the post."
                              },
                              "pinned": {
                                "type": "boolean",
                                "description": "Indicates if the post is pinned."
                              }
                            }
                          },
                          "labels": {
                            "type": "array",
                            "description": "Labels associated with the post.",
                            "items": {
                              "$ref": "#/definitions/Label"
                            }
                          },
                          "threadgate": {
                            "type": "object",
                            "description": "Thread gate metadata.",
                            "properties": {
                              "uri": {
                                "type": "string",
                                "description": "URI of the thread gate."
                              },
                              "cid": {
                                "type": "string",
                                "description": "CID of the thread gate."
                              },
                              "record": {
                                "type": "object",
                                "description": "Record metadata for the thread gate."
                              },
                              "lists": {
                                "type": "array",
                                "description": "Lists associated with the thread gate.",
                                "items": {
                                  "$ref": "#/definitions/ListDetails"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeed": {
      "get": {
        "tags": [
          "feed"
        ],
        "summary": "Get Feed",
        "x-ms-summary": "Retrieve a hydrated feed.",
        "description": "Get a hydrated feed from an actor's selected feed generator.",
        "operationId": "getFeed",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "query",
            "description": "The URI of the feed generator.",
            "x-ms-summary": "Feed Generator URI",
            "required": true,
            "type": "string"
          },
          {
            "name": "actor",
            "in": "query",
            "description": "The handle or DID of the actor requesting the feed.",
            "x-ms-summary": "Actor identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of posts to return (default: 50, max: 100).",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50,
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for retrieving the next set of results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed retrieved successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Cursor for pagination."
                },
                "feed": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-ms-dynamic-schema": {
                      "operationId": "getFeed",
                      "value-path": "feed",
                      "parameters": {
                        "feed": "{feed}",
                        "actor": "{actor}"
                      }
                    }
                  },
                  "description": "Array of posts in the feed."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeedGenerator": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Metadata for a Feed Generator",
        "description": "Retrieve metadata about a specific feed generator.",
        "operationId": "GetFeedGenerator",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "query",
            "description": "URI of the feed generator to retrieve metadata for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Feed Generator URI"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved metadata for the feed generator.",
            "schema": {
              "type": "object",
              "properties": {
                "view": {
                  "type": "object",
                  "description": "Detailed metadata about the feed generator.",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "description": "URI of the feed generator."
                    },
                    "cid": {
                      "type": "string",
                      "description": "Content identifier for the feed generator."
                    },
                    "did": {
                      "type": "string",
                      "description": "DID of the feed generator creator."
                    },
                    "creator": {
                      "type": "object",
                      "description": "Information about the creator of the feed generator.",
                      "properties": {
                        "did": {
                          "type": "string",
                          "description": "DID of the creator."
                        },
                        "handle": {
                          "type": "string",
                          "description": "Handle of the creator."
                        },
                        "displayName": {
                          "type": "string",
                          "description": "Display name of the creator."
                        },
                        "description": {
                          "type": "string",
                          "description": "Description of the creator."
                        },
                        "avatar": {
                          "type": "string",
                          "description": "URL of the creator's avatar image."
                        },
                        "associated": {
                          "type": "object",
                          "description": "Associated metadata for the creator.",
                          "properties": {
                            "lists": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Number of lists associated."
                            },
                            "feedgens": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Number of feed generators associated."
                            },
                            "starterPacks": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Number of starter packs associated."
                            },
                            "labeler": {
                              "type": "boolean",
                              "description": "Whether the creator is a labeler."
                            },
                            "chat": {
                              "type": "object",
                              "description": "Chat settings for the creator.",
                              "properties": {
                                "allowIncoming": {
                                  "type": "string",
                                  "description": "Type of incoming messages allowed."
                                }
                              }
                            }
                          }
                        },
                        "indexedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the creator was indexed."
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the creator was created."
                        }
                      }
                    },
                    "displayName": {
                      "type": "string",
                      "description": "Display name of the feed generator."
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the feed generator."
                    },
                    "descriptionFacets": {
                      "type": "array",
                      "description": "Facets within the description of the feed generator.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "object",
                            "description": "Index information for facets.",
                            "properties": {
                              "byteStart": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Start byte of the facet."
                              },
                              "byteEnd": {
                                "type": "integer",
                                "format": "int32",
                                "description": "End byte of the facet."
                              }
                            }
                          },
                          "features": {
                            "type": "array",
                            "description": "Features associated with the facet.",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    },
                    "avatar": {
                      "type": "string",
                      "description": "URL of the feed generator's avatar image."
                    },
                    "likeCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of likes on the feed generator."
                    },
                    "acceptsInteractions": {
                      "type": "boolean",
                      "description": "Whether the feed generator accepts interactions."
                    },
                    "labels": {
                      "type": "array",
                      "description": "Labels associated with the feed generator.",
                      "items": {
                        "$ref": "#/definitions/Label"
                      }
                    },
                    "viewer": {
                      "type": "object",
                      "description": "Viewer-specific metadata.",
                      "properties": {
                        "like": {
                          "type": "string",
                          "description": "URI of the viewer's like."
                        }
                      }
                    },
                    "indexedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the feed generator was indexed."
                    }
                  }
                },
                "isOnline": {
                  "type": "boolean",
                  "description": "Whether the feed generator is online."
                },
                "isValid": {
                  "type": "boolean",
                  "description": "Whether the feed generator is valid."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeedGenerators": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Metadata for Multiple Feed Generators",
        "description": "Retrieve metadata about multiple feed generators.",
        "operationId": "GetFeedGenerators",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "generators",
            "in": "query",
            "description": "Comma-separated list of feed generator URIs to retrieve metadata for.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Feed Generator URIs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved metadata for multiple feed generators.",
            "schema": {
              "type": "object",
              "properties": {
                "feeds": {
                  "type": "array",
                  "description": "An array of feed generator metadata.",
                  "items": {
                    "type": "object",
                    "description": "Metadata for a single feed generator.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "URI of the feed generator."
                      },
                      "cid": {
                        "type": "string",
                        "description": "Content identifier for the feed generator."
                      },
                      "did": {
                        "type": "string",
                        "description": "DID of the feed generator creator."
                      },
                      "creator": {
                        "type": "object",
                        "description": "Information about the creator of the feed generator.",
                        "properties": {
                          "did": {
                            "type": "string",
                            "description": "DID of the creator."
                          },
                          "handle": {
                            "type": "string",
                            "description": "Handle of the creator."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Display name of the creator."
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the creator."
                          },
                          "avatar": {
                            "type": "string",
                            "description": "URL of the creator's avatar image."
                          },
                          "associated": {
                            "type": "object",
                            "description": "Associated metadata for the creator.",
                            "properties": {
                              "lists": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of lists associated."
                              },
                              "feedgens": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of feed generators associated."
                              },
                              "starterPacks": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of starter packs associated."
                              },
                              "labeler": {
                                "type": "boolean",
                                "description": "Whether the creator is a labeler."
                              },
                              "chat": {
                                "type": "object",
                                "description": "Chat settings for the creator.",
                                "properties": {
                                  "allowIncoming": {
                                    "type": "string",
                                    "description": "Type of incoming messages allowed."
                                  }
                                }
                              }
                            }
                          },
                          "indexedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the creator was indexed."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the creator was created."
                          }
                        }
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Display name of the feed generator."
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the feed generator."
                      },
                      "descriptionFacets": {
                        "type": "array",
                        "description": "Facets within the description of the feed generator.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "index": {
                              "type": "object",
                              "description": "Index information for facets.",
                              "properties": {
                                "byteStart": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Start byte of the facet."
                                },
                                "byteEnd": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "End byte of the facet."
                                }
                              }
                            },
                            "features": {
                              "type": "array",
                              "description": "Features associated with the facet.",
                              "items": {
                                "type": "object"
                              }
                            }
                          }
                        }
                      },
                      "avatar": {
                        "type": "string",
                        "description": "URL of the feed generator's avatar image."
                      },
                      "likeCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of likes on the feed generator."
                      },
                      "acceptsInteractions": {
                        "type": "boolean",
                        "description": "Whether the feed generator accepts interactions."
                      },
                      "labels": {
                        "type": "array",
                        "description": "Labels associated with the feed generator.",
                        "items": {
                          "$ref": "#/definitions/Label"
                        }
                      },
                      "viewer": {
                        "type": "object",
                        "description": "Viewer-specific metadata.",
                        "properties": {
                          "like": {
                            "type": "string",
                            "description": "URI of the viewer's like."
                          }
                        }
                      },
                      "indexedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the feed generator was indexed."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeedSkeleton": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Skeleton Feed",
        "description": "Retrieve a minimal skeletal version of a feed.",
        "operationId": "GetFeedSkeleton",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "query",
            "description": "URI of the feed to retrieve the skeleton for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Feed URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items in the skeleton.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating the skeleton.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the skeleton feed.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next set of results."
                },
                "feed": {
                  "type": "array",
                  "description": "An array of skeleton feed items.",
                  "items": {
                    "type": "object",
                    "description": "Details of a skeleton feed item.",
                    "properties": {
                      "post": {
                        "type": "string",
                        "description": "URI of the feed item post."
                      },
                      "reason": {
                        "type": "object",
                        "description": "Reason for including the feed item."
                      },
                      "feedContext": {
                        "type": "string",
                        "description": "Context of the feed item in the skeleton."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getLikes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Likes for a Post",
        "description": "Retrieve users who liked a specific post.",
        "operationId": "GetLikes",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "description": "URI of the post to retrieve likes for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Post URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of likes to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved likes for the specified post.",
            "schema": {
              "type": "object",
              "properties": {
                "uri": {
                  "type": "string",
                  "description": "URI of the post."
                },
                "cid": {
                  "type": "string",
                  "description": "Content identifier for the post."
                },
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next set of results."
                },
                "likes": {
                  "type": "array",
                  "description": "An array of actors who liked the post.",
                  "items": {
                    "type": "object",
                    "description": "Details of a user who liked the post.",
                    "properties": {
                      "indexedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the like was indexed."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the like was created."
                      },
                      "actor": {
                        "type": "object",
                        "description": "Details of the actor who liked the post.",
                        "properties": {
                          "did": {
                            "type": "string",
                            "description": "DID of the actor."
                          },
                          "handle": {
                            "type": "string",
                            "description": "Handle of the actor."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Display name of the actor."
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the actor."
                          },
                          "avatar": {
                            "type": "string",
                            "description": "URL of the actor's avatar image."
                          },
                          "associated": {
                            "type": "object",
                            "description": "Associated metadata for the actor.",
                            "properties": {
                              "lists": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of lists associated."
                              },
                              "feedgens": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of feed generators associated."
                              },
                              "starterPacks": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of starter packs associated."
                              },
                              "labeler": {
                                "type": "boolean",
                                "description": "Whether the actor is a labeler."
                              },
                              "chat": {
                                "type": "object",
                                "description": "Chat settings for the actor.",
                                "properties": {
                                  "allowIncoming": {
                                    "type": "string",
                                    "description": "Type of incoming messages allowed."
                                  }
                                }
                              }
                            }
                          },
                          "indexedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the actor was indexed."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the actor was created."
                          },
                          "viewer": {
                            "type": "object",
                            "description": "Viewer-specific metadata for the actor.",
                            "properties": {
                              "muted": {
                                "type": "boolean",
                                "description": "Whether the viewer has muted the actor."
                              },
                              "blockedBy": {
                                "type": "boolean",
                                "description": "Whether the viewer is blocked by the actor."
                              }
                            }
                          },
                          "labels": {
                            "type": "array",
                            "description": "Labels associated with the actor.",
                            "items": {
                              "$ref": "#/definitions/Label"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getListFeed": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed for a List",
        "description": "Retrieve posts from a specific list.",
        "operationId": "GetListFeed",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "list",
            "in": "query",
            "description": "URI of the list to retrieve the feed for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "List URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of posts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for navigating through the feed.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list feed.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next page."
                },
                "feed": {
                  "type": "array",
                  "description": "Array of feed items.",
                  "items": {
                    "type": "object",
                    "description": "Details of a feed item.",
                    "properties": {
                      "post": {
                        "type": "object",
                        "description": "Details of the post.",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "description": "URI of the post."
                          },
                          "cid": {
                            "type": "string",
                            "description": "Content identifier of the post."
                          },
                          "author": {
                            "type": "object",
                            "description": "Information about the post author.",
                            "properties": {
                              "did": {
                                "type": "string",
                                "description": "DID of the author."
                              },
                              "handle": {
                                "type": "string",
                                "description": "Handle of the author."
                              },
                              "displayName": {
                                "type": "string",
                                "description": "Display name of the author."
                              },
                              "avatar": {
                                "type": "string",
                                "description": "URL of the author's avatar image."
                              },
                              "associated": {
                                "type": "object",
                                "description": "Associated metadata for the author.",
                                "properties": {
                                  "lists": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Number of lists associated."
                                  },
                                  "feedgens": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Number of feed generators associated."
                                  },
                                  "starterPacks": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Number of starter packs associated."
                                  },
                                  "labeler": {
                                    "type": "boolean",
                                    "description": "Whether the author is a labeler."
                                  },
                                  "chat": {
                                    "type": "object",
                                    "description": "Chat settings for the author.",
                                    "properties": {
                                      "allowIncoming": {
                                        "type": "string",
                                        "description": "Type of incoming messages allowed."
                                      }
                                    }
                                  }
                                }
                              },
                              "viewer": {
                                "type": "object",
                                "description": "Viewer-specific metadata.",
                                "properties": {
                                  "muted": {
                                    "type": "boolean",
                                    "description": "Whether the viewer has muted the author."
                                  },
                                  "blockedBy": {
                                    "type": "boolean",
                                    "description": "Whether the viewer is blocked by the author."
                                  }
                                }
                              }
                            }
                          },
                          "labels": {
                            "type": "array",
                            "description": "Labels associated with the post.",
                            "items": {
                              "$ref": "#/definitions/Label"
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the post was created."
                          }
                        }
                      },
                      "reply": {
                        "type": "object",
                        "description": "Reply-specific metadata for the feed item."
                      },
                      "reason": {
                        "type": "object",
                        "description": "Reason for including the feed item."
                      },
                      "feedContext": {
                        "type": "string",
                        "description": "Context of the feed item in the feed."
                      },
                      "indexedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the feed item was indexed."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getPosts": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Posts",
        "x-ms-summary": "Retrieve post views for specified posts.",
        "description": "Gets post views for a specified list of posts.",
        "operationId": "GetPosts",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uris",
            "in": "query",
            "description": "List of post AT-URIs to return hydrated views for.",
            "x-ms-summary": "Post AT-URIs",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 25
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "posts"
              ],
              "properties": {
                "posts": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/postView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getPostThread": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Thread for a Post",
        "description": "Retrieve the thread of posts related to a specific post.",
        "operationId": "GetPostThread",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "description": "URI of the post to retrieve the thread for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Post URI"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the thread for the specified post.",
            "schema": {
              "type": "object",
              "properties": {
                "thread": {
                  "type": "object",
                  "description": "The root post of the thread with its replies.",
                  "properties": {
                    "root": {
                      "type": "object",
                      "description": "The root post of the thread.",
                      "properties": {
                        "uri": {
                          "type": "string",
                          "description": "URI of the root post."
                        },
                        "cid": {
                          "type": "string",
                          "description": "Content identifier of the root post."
                        },
                        "author": {
                          "type": "object",
                          "description": "Information about the author of the root post.",
                          "properties": {
                            "did": {
                              "type": "string",
                              "description": "DID of the author."
                            },
                            "handle": {
                              "type": "string",
                              "description": "Handle of the author."
                            },
                            "displayName": {
                              "type": "string",
                              "description": "Display name of the author."
                            },
                            "avatar": {
                              "type": "string",
                              "description": "URL of the author's avatar image."
                            }
                          }
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the root post was created."
                        }
                      }
                    },
                    "replies": {
                      "type": "array",
                      "description": "An array of replies to the root post.",
                      "items": {
                        "type": "object",
                        "description": "Details of a reply to the root post.",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "description": "URI of the reply post."
                          },
                          "cid": {
                            "type": "string",
                            "description": "Content identifier of the reply post."
                          },
                          "author": {
                            "type": "object",
                            "description": "Information about the author of the reply post.",
                            "properties": {
                              "did": {
                                "type": "string",
                                "description": "DID of the author."
                              },
                              "handle": {
                                "type": "string",
                                "description": "Handle of the author."
                              },
                              "displayName": {
                                "type": "string",
                                "description": "Display name of the author."
                              },
                              "avatar": {
                                "type": "string",
                                "description": "URL of the author's avatar image."
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the reply post was created."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getQuotes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Posts Quoting a Specific Post",
        "description": "Retrieve posts that quote a specific post.",
        "operationId": "GetQuotes",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "description": "URI of the post to retrieve quotes for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Post URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of quotes to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved posts quoting the specified post.",
            "schema": {
              "type": "object",
              "properties": {
                "uri": {
                  "type": "string",
                  "description": "URI of the original post."
                },
                "cid": {
                  "type": "string",
                  "description": "Content identifier of the original post."
                },
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next set of results."
                },
                "posts": {
                  "type": "array",
                  "description": "An array of posts that quote the specified post.",
                  "items": {
                    "type": "object",
                    "description": "Details of a quoted post.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "URI of the quoted post."
                      },
                      "cid": {
                        "type": "string",
                        "description": "Content identifier of the quoted post."
                      },
                      "author": {
                        "type": "object",
                        "description": "Information about the author of the quoted post.",
                        "properties": {
                          "did": {
                            "type": "string",
                            "description": "DID of the author."
                          },
                          "handle": {
                            "type": "string",
                            "description": "Handle of the author."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Display name of the author."
                          },
                          "avatar": {
                            "type": "string",
                            "description": "URL of the author's avatar image."
                          },
                          "associated": {
                            "type": "object",
                            "description": "Associated metadata for the author.",
                            "properties": {
                              "lists": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of lists associated."
                              },
                              "feedgens": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of feed generators associated."
                              },
                              "starterPacks": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of starter packs associated."
                              },
                              "labeler": {
                                "type": "boolean",
                                "description": "Whether the author is a labeler."
                              },
                              "chat": {
                                "type": "object",
                                "description": "Chat settings for the author.",
                                "properties": {
                                  "allowIncoming": {
                                    "type": "string",
                                    "description": "Type of incoming messages allowed."
                                  }
                                }
                              }
                            }
                          },
                          "viewer": {
                            "type": "object",
                            "description": "Viewer-specific metadata.",
                            "properties": {
                              "muted": {
                                "type": "boolean",
                                "description": "Whether the viewer has muted the author."
                              },
                              "blockedBy": {
                                "type": "boolean",
                                "description": "Whether the viewer is blocked by the author."
                              }
                            }
                          },
                          "labels": {
                            "type": "array",
                            "description": "Labels associated with the author.",
                            "items": {
                              "$ref": "#/definitions/Label"
                            }
                          }
                        }
                      },
                      "record": {
                        "type": "object",
                        "description": "Metadata for the quoted post."
                      },
                      "embed": {
                        "type": "object",
                        "description": "Embed metadata for the quoted post."
                      },
                      "replyCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of replies to the quoted post."
                      },
                      "repostCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of reposts of the quoted post."
                      },
                      "likeCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of likes on the quoted post."
                      },
                      "quoteCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of quotes of the quoted post."
                      },
                      "indexedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the quoted post was indexed."
                      },
                      "labels": {
                        "type": "array",
                        "description": "Labels associated with the quoted post.",
                        "items": {
                          "$ref": "#/definitions/Label"
                        }
                      },
                      "threadgate": {
                        "type": "object",
                        "description": "Thread gate metadata.",
[...]
