{
  "swagger": "2.0",
  "info": {
    "title": "Bluesky Social",
    "description": "Specification for the Bluesky Social endpoints",
    "contact": {
      "name": "Dan Romano",
      "email": "dan.romano@swolcat.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/mit/"
    },
    "version": "1.0"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.bsky.app/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://example.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social Media"
    }
  ],
  "host": "bsky.social",
  "basePath": "/xrpc",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/xrpc/app.bsky.actor.getPreferences": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Preferences for Current Account",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nGet private preferences attached to the current account. Expected use is \nsynchronization between multiple devices and import/export during account migration. Requires authentication.\n",
        "operationId": "GetPreferences",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved preferences for the current account.",
            "schema": {
              "type": "object",
              "required": [
                "preferences"
              ],
              "properties": {
                "preferences": {
                  "$ref": "#/definitions/Preferences"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.getProfile": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Detailed Profile of an Actor",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nGet a detailed profile view of an actor. This endpoint does not require authentication, \nbut the metadata returned will depend on whether the request is authenticated.\n",
        "operationId": "GetProfile",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "Handle or DID of the account to fetch the profile of.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the actor's detailed profile.",
            "schema": {
              "$ref": "#/definitions/ProfileViewDetailed"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.getProfiles": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Detailed Profiles of Multiple Actors",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nFetches detailed profile views for multiple actors. This endpoint supports \nbatch retrieval of profiles based on identifiers.\n",
        "operationId": "GetProfiles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actors",
            "in": "query",
            "description": "Comma-separated list of handles or DIDs of the accounts to fetch profiles for.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Identifiers"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved detailed profiles of the specified actors.",
            "schema": {
              "type": "object",
              "required": [
                "profiles"
              ],
              "properties": {
                "profiles": {
                  "type": "array",
                  "description": "An array of detailed profile views for the specified actors.",
                  "items": {
                    "$ref": "#/definitions/ProfileViewDetailed"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.getSuggestions": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Suggestions for Actors",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nFetches suggested profiles for the authenticated user or general suggestions \nwhen unauthenticated. Suggestions are based on mutual follows or other platform-specific logic.\n",
        "operationId": "GetSuggestions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of suggestions to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved suggested profiles.",
            "schema": {
              "type": "object",
              "required": [
                "suggestions"
              ],
              "properties": {
                "suggestions": {
                  "type": "array",
                  "description": "An array of suggested profiles for the user.",
                  "items": {
                    "$ref": "#/definitions/ProfileViewDetailed"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.putPreferences": {
      "post": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Update Preferences for Current Account",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nUpdate preferences for the current account. Requires authentication.\n",
        "operationId": "PutPreferences",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the preferences to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Preferences"
            },
            "x-ms-summary": "Preferences Payload"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated preferences for the current account.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates whether the preferences update was successful.",
                  "example": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.searchActors": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Search for Actors",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nSearch for actors (users) on the platform based on a query string. \nAuthentication can improve search relevance but is not required.\n",
        "operationId": "SearchActors",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "The search term used to find actors.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search Term"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of actors matching the search term.",
            "schema": {
              "type": "object",
              "properties": {
                "actors": {
                  "type": "array",
                  "description": "An array of actors matching the search criteria.",
                  "items": {
                    "$ref": "#/definitions/ProfileView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.searchActorsTypeahead": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Search Actors for Typeahead",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nPerform a lightweight search for actors to support typeahead functionality. \nReturns minimal actor details for quick lookups.\n",
        "operationId": "SearchActorsTypeahead",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "The search term used for typeahead results.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search Term"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved typeahead suggestions for actors.",
            "schema": {
              "type": "object",
              "properties": {
                "actors": {
                  "type": "array",
                  "description": "An array of minimal actor details matching the typeahead search.",
                  "items": {
                    "$ref": "#/definitions/ProfileView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.describeFeedGenerator": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Describe Feed Generator",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nProvides metadata about the feed generator, including supported feed formats \nand other configuration details. No authentication is required.\n",
        "operationId": "DescribeFeedGenerator",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved metadata about the feed generator.",
            "schema": {
              "type": "object",
              "properties": {
                "feedFormats": {
                  "type": "array",
                  "description": "An array of supported feed formats.",
                  "items": {
                    "type": "string",
                    "example": "application/json"
                  }
                },
                "links": {
                  "type": "object",
                  "description": "Relevant links or metadata for the feed generator.",
                  "properties": {
                    "privacyPolicy": {
                      "type": "string",
                      "description": "URL of the feed generator's privacy policy.",
                      "example": "https://example.com/privacy"
                    },
                    "termsOfService": {
                      "type": "string",
                      "description": "URL of the feed generator's terms of service.",
                      "example": "https://example.com/terms"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getActorFeeds": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feeds for an Actor",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nFetches a list of feeds created by a specific actor.\n",
        "operationId": "GetActorFeeds",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "Handle or DID of the actor whose feeds are being retrieved.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of feeds to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the actor's feeds.",
            "schema": {
              "type": "object",
              "properties": {
                "feeds": {
                  "type": "array",
                  "description": "An array of feed views created by the actor.",
                  "items": {
                    "type": "object",
                    "description": "Details of a feed.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "The URI of the feed.",
                        "example": "at://did:plc:abcd1234/app.bsky.feed/123"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the feed.",
                        "example": "My Tech News"
                      },
                      "avatar": {
                        "type": "string",
                        "description": "URL of the feed's avatar image.",
                        "example": "https://example.com/feed-avatar.jpg"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getActorLikes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Liked Posts by an Actor",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nFetches posts that have been liked by a specific actor.\n",
        "operationId": "GetActorLikes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "Handle or DID of the actor whose liked posts are being retrieved.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of liked posts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the liked posts by the actor.",
            "schema": {
              "type": "object",
              "properties": {
                "likes": {
                  "type": "array",
                  "description": "An array of posts liked by the actor.",
                  "items": {
                    "type": "object",
                    "description": "Details of a liked post.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "The URI of the liked post.",
                        "example": "at://did:plc:abcd1234/app.bsky.feed/post123"
                      },
                      "author": {
                        "$ref": "#/definitions/ProfileView"
                      },
                      "content": {
                        "type": "string",
                        "description": "Content of the liked post.",
                        "example": "This is a sample post content."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getAuthorFeed": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Posts by an Author",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nFetches posts created by a specific author.\n",
        "operationId": "GetAuthorFeed",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "author",
            "in": "query",
            "description": "Handle or DID of the author whose posts are being retrieved.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Author Identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of posts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the posts by the author.",
            "schema": {
              "type": "object",
              "properties": {
                "posts": {
                  "type": "array",
                  "description": "An array of posts created by the author.",
                  "items": {
                    "type": "object",
                    "description": "Details of a post.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "The URI of the post.",
                        "example": "at://did:plc:abcd1234/app.bsky.feed/post123"
                      },
                      "author": {
                        "$ref": "#/definitions/ProfileView"
                      },
                      "content": {
                        "type": "string",
                        "description": "Content of the post.",
                        "example": "This is a sample post content."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeed": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed for a Specific URI",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve the contents of a specific feed based on its URI.\n",
        "operationId": "GetFeed",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "query",
            "description": "The URI of the feed to retrieve.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Feed URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to retrieve in the feed.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through the feed.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the feed contents.",
            "schema": {
              "type": "object",
              "properties": {
                "feedItems": {
                  "type": "array",
                  "description": "An array of feed items.",
                  "items": {
                    "type": "object",
                    "description": "Details of a feed item.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "The URI of the feed item.",
                        "example": "at://did:plc:abcd1234/app.bsky.feed/post123"
                      },
                      "content": {
                        "type": "string",
                        "description": "The content of the feed item.",
                        "example": "This is a sample feed item."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeedGenerator": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Metadata for a Feed Generator",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve metadata for a specific feed generator.\n",
        "operationId": "GetFeedGenerator",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generator",
            "in": "query",
            "description": "The URI of the feed generator to retrieve metadata for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Feed Generator URI"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved metadata for the feed generator.",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "description": "Metadata about the feed generator.",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name of the feed generator.",
                      "example": "Tech News Feeds"
                    },
                    "avatar": {
                      "type": "string",
                      "description": "URL of the feed generator's avatar image.",
                      "example": "https://example.com/generator-avatar.jpg"
                    },
                    "description": {
                      "type": "string",
                      "description": "A brief description of the feed generator.",
                      "example": "A generator for curated tech news feeds."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeedGenerators": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Metadata for Multiple Feed Generators",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve metadata for multiple feed generators based on their URIs.\n",
        "operationId": "GetFeedGenerators",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generators",
            "in": "query",
            "description": "Comma-separated list of feed generator URIs to retrieve metadata for.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Feed Generator URIs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved metadata for multiple feed generators.",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "array",
                  "description": "An array of metadata for the feed generators.",
                  "items": {
                    "type": "object",
                    "description": "Metadata for a single feed generator.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "The URI of the feed generator.",
                        "example": "at://did:plc:abcd1234/app.bsky.feed/generator123"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the feed generator.",
                        "example": "Tech News Feeds"
                      },
                      "avatar": {
                        "type": "string",
                        "description": "URL of the feed generator's avatar image.",
                        "example": "https://example.com/generator-avatar.jpg"
                      },
                      "description": {
                        "type": "string",
                        "description": "A brief description of the feed generator.",
                        "example": "A generator for curated tech news feeds."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeedSkeleton": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Skeleton Feed",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieves a skeleton feed, typically used for pre-rendering or optimization.\n",
        "operationId": "GetFeedSkeleton",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "query",
            "description": "The URI of the feed to retrieve the skeleton for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Feed URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items in the skeleton.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating the skeleton.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the skeleton feed.",
            "schema": {
              "type": "object",
              "properties": {
                "skeleton": {
                  "type": "array",
                  "description": "An array of skeleton feed items.",
                  "items": {
                    "type": "object",
                    "description": "Details of a skeleton feed item.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "The URI of the feed item.",
                        "example": "at://did:plc:abcd1234/app.bsky.feed/item123"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getLikes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Likes for a Post",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieves a list of actors who have liked a specific post.\n",
        "operationId": "GetLikes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "description": "The URI of the post to retrieve likes for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Post URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of likes to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved likes for the specified post.",
            "schema": {
              "type": "object",
              "properties": {
                "likes": {
                  "type": "array",
                  "description": "An array of actors who liked the post.",
                  "items": {
                    "$ref": "#/definitions/ProfileView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getListFeed": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed for a List",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve the feed for a specific list of actors.\n",
        "operationId": "GetListFeed",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "list",
            "in": "query",
            "description": "The URI of the list to retrieve the feed for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "List URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of posts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through the feed.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list feed.",
            "schema": {
              "type": "object",
              "properties": {
                "posts": {
                  "type": "array",
                  "description": "An array of posts in the list feed.",
                  "items": {
                    "type": "object",
                    "description": "Details of a post.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "The URI of the post.",
                        "example": "at://did:plc:abcd1234/app.bsky.feed/post123"
                      },
                      "author": {
                        "$ref": "#/definitions/ProfileView"
                      },
                      "content": {
                        "type": "string",
                        "description": "The content of the post.",
                        "example": "This is a sample post content."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getPosts": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Posts by URIs",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve posts specified by their URIs.\n",
        "operationId": "GetPosts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uris",
            "in": "query",
            "description": "Comma-separated list of post URIs to retrieve.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Post URIs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the posts.",
            "schema": {
              "type": "object",
              "properties": {
                "posts": {
                  "type": "array",
                  "description": "An array of posts corresponding to the provided URIs.",
                  "items": {
                    "type": "object",
                    "description": "Details of a post.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "The URI of the post.",
                        "example": "at://did:plc:abcd1234/app.bsky.feed/post123"
                      },
                      "author": {
                        "$ref": "#/definitions/ProfileView"
                      },
                      "content": {
                        "type": "string",
                        "description": "The content of the post.",
                        "example": "This is a sample post content."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getPostThread": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Thread for a Post",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve the thread for a specific post, including replies and related posts.\n",
        "operationId": "GetPostThread",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "description": "The URI of the post to retrieve the thread for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Post URI"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the thread for the specified post.",
            "schema": {
              "type": "object",
              "properties": {
                "thread": {
                  "type": "object",
                  "description": "The root post of the thread with its replies.",
                  "properties": {
                    "root": {
                      "$ref": "#/definitions/Post"
                    },
                    "replies": {
                      "type": "array",
                      "description": "An array of replies to the root post.",
                      "items": {
                        "$ref": "#/definitions/Post"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getQuotes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Posts Quoting a Specific Post",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve posts that quote a specific post.\n",
        "operationId": "GetQuotes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "description": "The URI of the post to retrieve quotes for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Post URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of quotes to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved posts quoting the specified post.",
            "schema": {
              "type": "object",
              "properties": {
                "quotes": {
                  "type": "array",
                  "description": "An array of posts that quote the specified post.",
                  "items": {
                    "$ref": "#/definitions/Post"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getRepostedBy": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Actors Who Reposted a Specific Post",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve a list of actors who have reposted a specific post.\n",
        "operationId": "GetRepostedBy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "description": "The URI of the post to retrieve reposts for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Post URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of reposts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved actors who reposted the post.",
            "schema": {
              "type": "object",
              "properties": {
                "repostedBy": {
                  "type": "array",
                  "description": "An array of actors who reposted the specified post.",
                  "items": {
                    "$ref": "#/definitions/ProfileView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getSuggestedFeeds": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Suggested Feeds",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve a list of suggested feeds for the authenticated user or general suggestions.\n",
        "operationId": "GetSuggestedFeeds",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of suggested feeds to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved suggested feeds.",
            "schema": {
              "type": "object",
              "properties": {
                "suggestedFeeds": {
                  "type": "array",
                  "description": "An array of suggested feeds.",
                  "items": {
                    "type": "object",
                    "description": "Details of a suggested feed.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "The URI of the feed.",
                        "example": "at://did:plc:abcd1234/app.bsky.feed/generator123"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the feed.",
                        "example": "Tech News Feeds"
                      },
                      "avatar": {
                        "type": "string",
                        "description": "URL of the feed's avatar image.",
                        "example": "https://example.com/feed-avatar.jpg"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getTimeline": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Timeline",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve the authenticated user's timeline, including posts from followed actors.\n",
        "operationId": "GetTimeline",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "algorithm",
            "in": "query",
            "description": "The algorithm used to generate the timeline (e.g., reverse chronological).",
            "required": false,
            "type": "string",
            "x-ms-summary": "Timeline Algorithm"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of posts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the timeline.",
            "schema": {
              "type": "object",
              "properties": {
                "timeline": {
                  "type": "array",
                  "description": "An array of posts in the user's timeline.",
                  "items": {
                    "$ref": "#/definitions/Post"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.searchPosts": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Search Posts",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nSearch posts based on a query string.\n",
        "operationId": "SearchPosts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "The search term used to find posts.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search Term"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of posts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved posts matching the search term.",
            "schema": {
              "type": "object",
              "properties": {
                "posts": {
                  "type": "array",
                  "description": "An array of posts matching the search criteria.",
                  "items": {
                    "$ref": "#/definitions/Post"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.sendInteractions": {
      "post": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Send Interactions",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nSend interactions like likes, reposts, or other custom interactions for a post.\n",
        "operationId": "SendInteractions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the interactions to be sent.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "interactions": {
                  "type": "array",
                  "description": "An array of interactions to send.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of interaction (e.g., 'like', 'repost').",
                        "example": "like"
                      },
                      "uri": {
                        "type": "string",
                        "description": "The URI of the post the interaction is for.",
                        "example": "at://did:plc:abcd1234/app.bsky.feed/post123"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the interaction was created.",
                        "example": "2023-11-19T12:34:56Z"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully sent interactions.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates whether the interactions were successfully sent.",
                  "example": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getActorStarterPacks": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Starter Packs for Actors",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve recommended starter packs of actors for a new user to follow.\n",
        "operationId": "GetActorStarterPacks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of starter packs to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved actor starter packs.",
            "schema": {
              "type": "object",
              "properties": {
                "starterPacks": {
                  "type": "array",
                  "description": "An array of actor starter packs.",
                  "items": {
                    "type": "object",
                    "description": "Details of a starter pack.",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "The title of the starter pack.",
                        "example": "Tech Enthusiasts"
                      },
                      "actors": {
                        "type": "array",
                        "description": "An array of actor profiles included in the pack.",
                        "items": {
                          "$ref": "#/definitions/ProfileView"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getBlocks": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Blocked Accounts",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve a list of accounts blocked by the authenticated user.\n",
        "operationId": "GetBlocks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of blocked accounts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved blocked accounts.",
            "schema": {
              "type": "object",
              "properties": {
                "blocks": {
                  "type": "array",
                  "description": "An array of profiles representing blocked accounts.",
                  "items": {
                    "$ref": "#/definitions/ProfileView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getFollowers": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Followers",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve a list of followers for a specific actor.\n",
        "operationId": "GetFollowers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "Handle or DID of the actor to retrieve followers for.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of followers to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved followers for the actor.",
            "schema": {
              "type": "object",
              "properties": {
                "followers": {
                  "type": "array",
                  "description": "An array of profiles representing followers.",
                  "items": {
                    "$ref": "#/definitions/ProfileView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getFollows": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Follows",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve a list of accounts followed by a specific actor.\n",
        "operationId": "GetFollows",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "Handle or DID of the actor to retrieve follows for.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of follows to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved accounts followed by the actor.",
            "schema": {
              "type": "object",
              "properties": {
                "follows": {
                  "type": "array",
                  "description": "An array of profiles representing accounts followed by the actor.",
                  "items": {
                    "$ref": "#/definitions/ProfileView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getKnownFollowers": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Known Followers",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve known followers of a specific actor that are mutually followed by the authenticated user.\n",
        "operationId": "GetKnownFollowers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "Handle or DID of the actor to retrieve known followers for.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of known followers to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved known followers.",
            "schema": {
              "type": "object",
              "properties": {
                "followers": {
                  "type": "array",
                  "description": "An array of profiles representing known followers.",
                  "items": {
                    "$ref": "#/definitions/ProfileView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getList": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get List Details",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve the details of a specific list.\n",
        "operationId": "GetList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "list",
            "in": "query",
            "description": "The URI of the list to retrieve.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "List URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of list items to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list details.",
            "schema": {
              "type": "object",
              "properties": {
                "listItems": {
                  "type": "array",
                  "description": "An array of profiles or items in the list.",
                  "items": {
                    "$ref": "#/definitions/ProfileView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getListBlocks": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get List Blocks",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve a list of blocked accounts within a specific list.\n",
        "operationId": "GetListBlocks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "list",
            "in": "query",
            "description": "The URI of the list to retrieve blocked accounts for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "List URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of blocked accounts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved blocked accounts within the list.",
            "schema": {
              "type": "object",
              "properties": {
                "blockedAccounts": {
                  "type": "array",
                  "description": "An array of profiles representing blocked accounts within the list.",
                  "items": {
                    "$ref": "#/definitions/ProfileView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getListMutes": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get List Mutes",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve muted lists for the authenticated user.\n",
        "operationId": "GetListMutes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of muted lists to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved muted lists.",
            "schema": {
              "type": "object",
              "properties": {
                "mutedLists": {
                  "type": "array",
                  "description": "An array of muted list details.",
                  "items": {
                    "type": "object",
                    "description": "Details of a muted list.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "The URI of the muted list.",
                        "example": "at://did:plc:abcd1234/app.bsky.graph/list123"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the muted list.",
                        "example": "Blocked Users"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getLists": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Lists for an Actor",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve all lists associated with a specific actor.\n",
        "operationId": "GetLists",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "Handle or DID of the actor to retrieve lists for.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of lists to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved lists for the actor.",
            "schema": {
              "type": "object",
              "properties": {
                "lists": {
                  "type": "array",
                  "description": "An array of lists associated with the actor.",
                  "items": {
                    "type": "object",
                    "description": "Details of a list.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "The URI of the list.",
                        "example": "at://did:plc:abcd1234/app.bsky.graph/list123"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the list.",
                        "example": "My Favorites"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getMutes": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Muted Accounts",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve a list of accounts muted by the authenticated user.\n",
        "operationId": "GetMutes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of muted accounts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved muted accounts.",
            "schema": {
              "type": "object",
              "properties": {
                "mutedAccounts": {
                  "type": "array",
                  "description": "An array of profiles representing muted accounts.",
                  "items": {
                    "$ref": "#/definitions/ProfileView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getRelationships": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Relationships Between Accounts",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve relationships between accounts for the authenticated user.\n",
        "operationId": "GetRelationships",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actors",
            "in": "query",
            "description": "Comma-separated list of actor DIDs or handles to retrieve relationships for.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Identifiers"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved account relationships.",
            "schema": {
              "type": "object",
              "properties": {
                "relationships": {
                  "type": "array",
                  "description": "An array of relationship data between the authenticated user and specified actors.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actor": {
                        "$ref": "#/definitions/ProfileView"
                      },
                      "relationship": {
                        "type": "string",
                        "description": "The type of relationship (e.g., 'following', 'followed_by', 'muted').",
                        "example": "following"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getStarterPack": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Starter Pack Details",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve the details of a specific starter pack.\n",
        "operationId": "GetStarterPack",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pack",
            "in": "query",
            "description": "The URI of the starter pack to retrieve.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Starter Pack URI"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the starter pack details.",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The title of the starter pack.",
                  "example": "Tech Enthusiasts"
                },
                "actors": {
                  "type": "array",
                  "description": "An array of profiles included in the starter pack.",
                  "items": {
                    "$ref": "#/definitions/ProfileView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getStarterPacks": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get All Starter Packs",
        "description": "*This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`). \nPublic endpoints which don't require authentication can be made directly \nagainst the public Bluesky AppView API: https://public.api.bsky.app. \nAuthenticated requests are usually made to the user's PDS, with automatic \nservice proxying. Authenticated requests can be used for both public and non-public endpoints.*\n\n*To learn more about calling atproto API endpoints like this one, see the \n[API Hosts and Auth](https://docs.bsky.app/docs/advanced-guides/api-directory) guide.*\n\nRetrieve all available starter packs for the authenticated user.\n",
        "operationId": "GetStarterPacks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of starter packs to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved starter packs.",
            "schema": {
              "type": "object",
              "properties": {
                "starterPacks": {
                  "type": "array",
                  "description": "An array of starter packs.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "The title of the starter pack.",
                        "example": "Tech Enthusiasts"
                      },
                      "uri": {
                        "type": "string",
                        "description": "The URI of the starter pack.",
                        "example": "at://did:plc:abcd1234/app.bsky.graph/starterPack123"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
[...]
