{
  "swagger": "2.0",
  "info": {
    "title": "Bluesky Social",
    "description": "Specification for the Bluesky Social endpoints",
    "contact": {
      "name": "Dan Romano",
      "email": "dan.romano@swolcat.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/mit/"
    },
    "version": "1.0"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.bsky.app/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://example.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social Media"
    }
  ],
  "host": "bsky.social",
  "basePath": "/xrpc",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/token",
      "scopes": {
        "transition:generic": "General access to user data and actions",
        "transition:chat.bsky": "Access to chat features, including direct messages"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "transition:generic",
        "transition:chat.bsky"
      ]
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/app.bsky.feed.getActorLikes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Actor Likes",
        "description": "Retrieves a list of posts liked by a specific actor (user) within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "GetActorLikes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor whose likes are being retrieved.",
            "x-ms-summary": "Actor ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of liked posts to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of posts liked by the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "likes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "postId": {
                        "type": "string",
                        "description": "The unique identifier of the liked post."
                      },
                      "likedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the post was liked."
                      },
                      "content": {
                        "type": "object",
                        "description": "The content of the liked post.",
                        "properties": {
                          "text": {
                            "type": "string",
                            "description": "The text content of the post."
                          },
                          "media": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of media (e.g., image, video)."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL of the media."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified actor does not exist or has no liked posts.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.actor.getPreferences": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Actor Preferences",
        "description": "Retrieves the preferences for a specific actor (user) within the Bluesky network. This endpoint is part of the `app.bsky.actor` namespace and requires authentication.",
        "operationId": "GetPreferences",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor whose preferences are being retrieved.",
            "x-ms-summary": "Actor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the preferences for the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "preferences": {
                  "type": "object",
                  "description": "An object containing various preferences for the actor."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified actor does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.video.uploadVideo": {
      "post": {
        "tags": [
          "app.bsky.video"
        ],
        "summary": "Upload Video",
        "description": "Uploads a video to the Bluesky network for processing and sharing. This endpoint is part of the `app.bsky.video` namespace and requires authentication.",
        "operationId": "UploadVideo",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "The video file to be uploaded.",
            "x-ms-summary": "Video File"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully uploaded the video.",
            "schema": {
              "type": "object",
              "properties": {
                "jobId": {
                  "type": "string",
                  "description": "The unique identifier of the video processing job."
                },
                "message": {
                  "type": "string",
                  "description": "A confirmation message."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.video.getUploadLimits": {
      "get": {
        "tags": [
          "app.bsky.video"
        ],
        "summary": "Get Video Upload Limits",
        "description": "Retrieves the upload limits for videos within the Bluesky network. This endpoint is part of the `app.bsky.video` namespace and requires authentication.",
        "operationId": "GetVideoUploadLimits",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successfully retrieved the video upload limits.",
            "schema": {
              "type": "object",
              "properties": {
                "maxSizeInBytes": {
                  "type": "integer",
                  "description": "The maximum file size allowed for video uploads, in bytes."
                },
                "allowedFormats": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "A list of allowed video formats (e.g., MP4, AVI)."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.video.getJobStatus": {
      "get": {
        "tags": [
          "app.bsky.video"
        ],
        "summary": "Get Video Job Status",
        "description": "Retrieves the status of a specific video processing job within the Bluesky network. This endpoint is part of the `app.bsky.video` namespace and requires authentication.",
        "operationId": "GetVideoJobStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the video processing job.",
            "x-ms-summary": "Job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the status of the video processing job.",
            "schema": {
              "type": "object",
              "properties": {
                "jobId": {
                  "type": "string",
                  "description": "The unique identifier of the job."
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "pending",
                    "processing",
                    "completed",
                    "failed"
                  ],
                  "description": "The current status of the job."
                },
                "errorMessage": {
                  "type": "string",
                  "description": "An error message if the job failed."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.notification.getUnreadCount": {
      "get": {
        "tags": [
          "app.bsky.notification"
        ],
        "summary": "Get Unread Notification Count",
        "description": "Retrieves the count of unread notifications for the authenticated user within the Bluesky network. This endpoint is part of the `app.bsky.notification` namespace and requires authentication.",
        "operationId": "GetUnreadNotificationCount",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successfully retrieved the unread notification count.",
            "schema": {
              "type": "object",
              "properties": {
                "unreadCount": {
                  "type": "integer",
                  "description": "The total number of unread notifications."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.labeler.getServices": {
      "get": {
        "tags": [
          "app.bsky.labeler"
        ],
        "summary": "Get Labeler Services",
        "description": "Retrieves a list of labeler services available within the Bluesky network. This endpoint is part of the `app.bsky.labeler` namespace and does not require authentication.",
        "operationId": "GetLabelerServices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of labeler services.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "serviceId": {
                    "type": "string",
                    "description": "The unique identifier of the labeler service."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the labeler service."
                  },
                  "description": {
                    "type": "string",
                    "description": "A brief description of the labeler service."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.graph.muteThread": {
      "post": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Mute Thread",
        "description": "Mutes a specific thread within the Bluesky network, preventing its content from appearing in the authenticated user's feed. This endpoint is part of the `app.bsky.graph` namespace and requires authentication.",
        "operationId": "MuteThread",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "threadId": {
                  "type": "string",
                  "description": "The unique identifier of the thread to mute."
                }
              }
            },
            "description": "Details of the thread to mute.",
            "x-ms-summary": "Thread ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully muted the specified thread.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the thread was successfully muted."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.graph.getStarterPacks": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Starter Packs",
        "description": "Retrieves a list of starter packs within the Bluesky network. This endpoint is part of the `app.bsky.graph` namespace and requires authentication.",
        "operationId": "GetStarterPacks",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of starter packs to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of starter packs.",
            "schema": {
              "type": "object",
              "properties": {
                "starterPacks": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "packId": {
                        "type": "string",
                        "description": "The unique identifier of the starter pack."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the starter pack."
                      },
                      "description": {
                        "type": "string",
                        "description": "A brief description of the starter pack."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.graph.getStarterPack": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Starter Pack",
        "description": "Retrieves details of a specific starter pack within the Bluesky network. This endpoint is part of the `app.bsky.graph` namespace and requires authentication.",
        "operationId": "GetStarterPack",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "packId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the starter pack to retrieve.",
            "x-ms-summary": "Starter Pack ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved details of the specified starter pack.",
            "schema": {
              "type": "object",
              "properties": {
                "packId": {
                  "type": "string",
                  "description": "The unique identifier of the starter pack."
                },
                "name": {
                  "type": "string",
                  "description": "The name of the starter pack."
                },
                "description": {
                  "type": "string",
                  "description": "A brief description of the starter pack."
                },
                "members": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "userId": {
                        "type": "string",
                        "description": "The unique identifier of a member in the starter pack."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.graph.getKnownFollowers": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Known Followers",
        "description": "Retrieves a list of mutual followers or users following both the authenticated user and a specified actor within the Bluesky network. This endpoint is part of the `app.bsky.graph` namespace and requires authentication.",
        "operationId": "GetKnownFollowers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor whose known followers are being retrieved.",
            "x-ms-summary": "Actor ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of mutual followers to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of mutual followers for the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "knownFollowers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "userId": {
                        "type": "string",
                        "description": "The unique identifier of the mutual follower."
                      },
                      "followedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the mutual following occurred."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.actor.getProfile": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Actor Profile",
        "description": "Retrieves the profile information for a specific actor (user) within the Bluesky network. This endpoint is part of the `app.bsky.actor` namespace and requires authentication.",
        "operationId": "GetProfile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor whose profile is being retrieved.",
            "x-ms-summary": "Actor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the profile information for the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "profile": {
                  "type": "object",
                  "description": "An object containing profile details for the actor.",
                  "properties": {
                    "displayName": {
                      "type": "string",
                      "description": "The display name of the actor."
                    },
                    "bio": {
                      "type": "string",
                      "description": "The bio or description of the actor."
                    },
                    "location": {
                      "type": "string",
                      "description": "The location of the actor."
                    },
                    "website": {
                      "type": "string",
                      "description": "The website URL associated with the actor."
                    },
                    "avatarUrl": {
                      "type": "string",
                      "description": "URL of the actor's avatar image."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified actor does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.graph.getActorStarterPacks": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Actor Starter Packs",
        "description": "Retrieves a list of starter packs for a specific actor, which can include suggested connections or groups within the Bluesky network. This endpoint is part of the `app.bsky.graph` namespace and requires authentication.",
        "operationId": "GetActorStarterPacks",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor for whom starter packs are being retrieved.",
            "x-ms-summary": "Actor ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of starter packs to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of starter packs for the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "starterPacks": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "packId": {
                        "type": "string",
                        "description": "The unique identifier of the starter pack."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the starter pack."
                      },
                      "description": {
                        "type": "string",
                        "description": "A brief description of the starter pack."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the starter pack was created."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.actor.getProfiles": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Multiple Actor Profiles",
        "description": "Retrieves profile information for multiple actors within the Bluesky network. This endpoint is part of the `app.bsky.actor` namespace and requires authentication.",
        "operationId": "GetProfiles",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actorIds",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of unique identifiers for the actors whose profiles are being retrieved.",
            "x-ms-summary": "Actor IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved profile information for the specified actors.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "profile": {
                    "type": "object",
                    "description": "An object containing profile details for each actor.",
                    "properties": {
                      "actorId": {
                        "type": "string",
                        "description": "The unique identifier of the actor."
                      },
                      "displayName": {
                        "type": "string",
                        "description": "The display name of the actor."
                      },
                      "bio": {
                        "type": "string",
                        "description": "The bio or description of the actor."
                      },
                      "location": {
                        "type": "string",
                        "description": "The location of the actor."
                      },
                      "website": {
                        "type": "string",
                        "description": "The website URL associated with the actor."
                      },
                      "avatarUrl": {
                        "type": "string",
                        "description": "URL of the actor's avatar image."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - One or more of the specified actors do not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.sendInteractions": {
      "post": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Send Interactions",
        "description": "Sends user interactions, such as likes or reposts, for a specified post within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "SendInteractions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "interactions",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "postId": {
                    "type": "string",
                    "description": "The unique identifier of the post being interacted with."
                  },
                  "interactionType": {
                    "type": "string",
                    "enum": [
                      "like",
                      "repost",
                      "comment"
                    ],
                    "description": "The type of interaction being performed."
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The timestamp of the interaction."
                  }
                }
              }
            },
            "description": "An array of interactions to be sent.",
            "x-ms-summary": "Interactions Data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully recorded the interactions.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Confirmation message for the successful operation."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getQuotes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Quotes",
        "description": "Retrieves a list of posts quoting a specific post within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "GetQuotes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the post being quoted.",
            "x-ms-summary": "Post ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of quotes to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of quotes for the specified post.",
            "schema": {
              "type": "object",
              "properties": {
                "quotes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "postId": {
                        "type": "string",
                        "description": "The unique identifier of the quoting post."
                      },
                      "authorId": {
                        "type": "string",
                        "description": "The unique identifier of the author of the quoting post."
                      },
                      "content": {
                        "type": "object",
                        "description": "The content of the quoting post."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.actor.getSuggestions": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Actor Suggestions",
        "description": "Retrieves a list of suggested actors (users) within the Bluesky network based on the current user's profile and interests. This endpoint is part of the `app.bsky.actor` namespace and requires authentication.",
        "operationId": "GetSuggestions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of suggested actors to retrieve.",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of suggested actors.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "actorId": {
                    "type": "string",
                    "description": "The unique identifier of the suggested actor."
                  },
                  "displayName": {
                    "type": "string",
                    "description": "The display name of the suggested actor."
                  },
                  "bio": {
                    "type": "string",
                    "description": "The bio or description of the suggested actor."
                  },
                  "location": {
                    "type": "string",
                    "description": "The location of the suggested actor."
                  },
                  "website": {
                    "type": "string",
                    "description": "The website URL associated with the suggested actor."
                  },
                  "avatarUrl": {
                    "type": "string",
                    "description": "URL of the suggested actor's avatar image."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.notification.putPreferences": {
      "put": {
        "tags": [
          "app.bsky.notification"
        ],
        "summary": "Update Notification Preferences",
        "description": "Updates the notification preferences for the authenticated user within the Bluesky network. This endpoint is part of the `app.bsky.notification` namespace and requires authentication.",
        "operationId": "PutNotificationPreferences",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "preferences": {
                  "type": "object",
                  "description": "An object containing the notification preferences to update."
                }
              }
            },
            "description": "The updated notification preferences.",
            "x-ms-summary": "Notification Preferences"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the notification preferences.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates whether the preferences were successfully updated."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getFeedSkeleton": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed Skeleton",
        "description": "Retrieves the skeleton structure of a feed for a specific generator within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "GetFeedSkeleton",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generatorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the feed generator.",
            "x-ms-summary": "Feed Generator ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of items to retrieve in the skeleton feed.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the feed skeleton for the specified generator.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "itemId": {
                    "type": "string",
                    "description": "The unique identifier of the item in the skeleton feed."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.notification.registerPush": {
      "post": {
        "tags": [
          "app.bsky.notification"
        ],
        "summary": "Register Push Notification Device",
        "description": "Registers a device for receiving push notifications within the Bluesky network. This endpoint is part of the `app.bsky.notification` namespace and requires authentication.",
        "operationId": "RegisterPushNotificationDevice",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "deviceToken": {
                  "type": "string",
                  "description": "The token of the device being registered for push notifications."
                }
              }
            },
            "description": "Details of the device being registered.",
            "x-ms-summary": "Device Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully registered the device for push notifications.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates whether the device was successfully registered."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.actor.searchActors": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Search Actors",
        "description": "Searches for actors (users) within the Bluesky network based on a search query. This endpoint is part of the `app.bsky.actor` namespace and requires authentication.",
        "operationId": "SearchActors",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The search query to find actors.",
            "x-ms-summary": "Search Query"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of search results to retrieve.",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved search results for actors matching the query.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "actorId": {
                    "type": "string",
                    "description": "The unique identifier of the actor."
                  },
                  "displayName": {
                    "type": "string",
                    "description": "The display name of the actor."
                  },
                  "bio": {
                    "type": "string",
                    "description": "The bio or description of the actor."
                  },
                  "location": {
                    "type": "string",
                    "description": "The location of the actor."
                  },
                  "website": {
                    "type": "string",
                    "description": "The website URL associated with the actor."
                  },
                  "avatarUrl": {
                    "type": "string",
                    "description": "URL of the actor's avatar image."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.actor.searchActorsTypeahead": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Search Actors Typeahead",
        "description": "Provides typeahead suggestions for actors (users) within the Bluesky network based on a partial search query. This endpoint is part of the `app.bsky.actor` namespace and requires authentication.",
        "operationId": "SearchActorsTypeahead",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The partial search query to find actors.",
            "x-ms-summary": "Search Query"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of typeahead suggestions to retrieve.",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved typeahead suggestions for actors matching the query.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "actorId": {
                    "type": "string",
                    "description": "The unique identifier of the suggested actor."
                  },
                  "displayName": {
                    "type": "string",
                    "description": "The display name of the suggested actor."
                  },
                  "avatarUrl": {
                    "type": "string",
                    "description": "URL of the suggested actor's avatar image."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getRepostedBy": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Reposted By",
        "description": "Retrieves a list of users who reposted a specific post within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "GetRepostedBy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the post being reposted.",
            "x-ms-summary": "Post ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of reposts to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of users who reposted the specified post.",
            "schema": {
              "type": "object",
              "properties": {
                "reposts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "userId": {
                        "type": "string",
                        "description": "The unique identifier of the user who reposted."
                      },
                      "repostedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the post was reposted."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.graph.getRelationships": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Relationships",
        "description": "Retrieves the relationship status between the authenticated actor and specified users within the Bluesky network. This endpoint is part of the `app.bsky.graph` namespace and requires authentication.",
        "operationId": "GetRelationships",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userIds",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of user IDs to retrieve relationship status for.",
            "x-ms-summary": "User IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved relationship statuses for the specified users.",
            "schema": {
              "type": "object",
              "properties": {
                "relationships": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "userId": {
                        "type": "string",
                        "description": "The unique identifier of the user."
                      },
                      "relationshipStatus": {
                        "type": "string",
                        "enum": [
                          "following",
                          "followed_by",
                          "mutual",
                          "none"
                        ],
                        "description": "The relationship status between the authenticated actor and the user."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.graph.getSuggestedFollowsByActor": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Suggested Follows by Actor",
        "description": "Retrieves a list of suggested follows based on a specific actor within the Bluesky network. This endpoint is part of the `app.bsky.graph` namespace and requires authentication.",
        "operationId": "GetSuggestedFollowsByActor",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor whose suggested follows are being retrieved.",
            "x-ms-summary": "Actor ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of suggested follows to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of suggested follows for the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "suggestedFollows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "userId": {
                        "type": "string",
                        "description": "The unique identifier of the suggested user to follow."
                      },
                      "reason": {
                        "type": "string",
                        "description": "The reason why this user was suggested as a follow."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getSuggestedFeeds": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Suggested Feeds",
        "description": "Retrieves a list of suggested feeds for the user based on their activity and interests within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "GetSuggestedFeeds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of suggested feeds to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of suggested feeds for the user.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "feedId": {
                    "type": "string",
                    "description": "The unique identifier of the suggested feed."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the suggested feed."
                  },
                  "description": {
                    "type": "string",
                    "description": "A brief description of the suggested feed."
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The timestamp when the feed was created."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getActorFeeds": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Actor Feeds",
        "description": "Retrieves a list of feeds created or associated with a specific actor (user) within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "GetActorFeeds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor whose feeds are being retrieved.",
            "x-ms-summary": "Actor ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of feeds to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of feeds associated with the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "feeds": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "feedId": {
                        "type": "string",
                        "description": "The unique identifier of the feed."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the feed."
                      },
                      "description": {
                        "type": "string",
                        "description": "A brief description of the feed."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the feed was created."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified actor does not exist or has no associated feeds.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getAuthorFeed": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Author Feed",
        "description": "Retrieves the feed of posts created by a specific author (user) within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "GetAuthorFeed",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the author whose feed is being retrieved.",
            "x-ms-summary": "Author ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of posts to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the feed of the specified author.",
            "schema": {
              "type": "object",
              "properties": {
                "feed": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "postId": {
                        "type": "string",
                        "description": "The unique identifier of the post."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the post was created."
                      },
                      "content": {
                        "type": "object",
                        "description": "The content of the post.",
                        "properties": {
                          "text": {
                            "type": "string",
                            "description": "The text content of the post."
                          },
                          "media": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of media (e.g., image, video)."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL of the media."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified author does not exist or has no posts.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getFeed": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed",
        "description": "Retrieves the main feed for a user, including posts from followed accounts and recommended content within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "GetFeed",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the user whose main feed is being retrieved.",
            "x-ms-summary": "User ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of posts to retrieve in the feed.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the main feed for the specified user.",
            "schema": {
              "type": "object",
              "properties": {
                "feed": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "postId": {
                        "type": "string",
                        "description": "The unique identifier of the post."
                      },
                      "authorId": {
                        "type": "string",
                        "description": "The unique identifier of the author of the post."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the post was created."
                      },
                      "content": {
                        "type": "object",
                        "description": "The content of the post.",
                        "properties": {
                          "text": {
                            "type": "string",
                            "description": "The text content of the post."
                          },
                          "media": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of media (e.g., image, video)."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL of the media."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified user does not exist or has no feed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getFeedGenerator": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed Generator",
        "description": "Retrieves posts and related content from a specified feed generator within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "GetFeedGenerator",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generatorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the feed generator.",
            "x-ms-summary": "Feed Generator ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of posts to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the posts from the specified feed generator.",
            "schema": {
              "type": "object",
              "properties": {
                "feed": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "postId": {
                        "type": "string",
                        "description": "The unique identifier of the post."
                      },
                      "authorId": {
                        "type": "string",
                        "description": "The unique identifier of the author of the post."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the post was created."
                      },
                      "content": {
                        "type": "object",
                        "description": "The content of the post.",
                        "properties": {
                          "text": {
                            "type": "string",
                            "description": "The text content of the post."
                          },
                          "media": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of media (e.g., image, video)."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL of the media."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified feed generator does not exist or has no posts.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getFeedGenerators": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed Generators",
        "description": "Retrieves metadata about multiple feed generators within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "GetFeedGenerators",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generatorIds",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of unique identifiers for the feed generators to retrieve.",
            "x-ms-summary": "Feed Generator IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved metadata for the specified feed generators.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "generatorId": {
                    "type": "string",
                    "description": "The unique identifier of the feed generator."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the feed generator."
                  },
                  "description": {
                    "type": "string",
                    "description": "A brief description of the feed generator."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.describeFeedGenerator": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Describe Feed Generator",
        "description": "Retrieves metadata and configuration details about a feed generator within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "DescribeFeedGenerator",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generatorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the feed generator.",
            "x-ms-summary": "Feed Generator ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved metadata and configuration details for the feed generator.",
            "schema": {
              "type": "object",
              "properties": {
                "generatorId": {
                  "type": "string",
                  "description": "The unique identifier of the feed generator."
                },
                "name": {
                  "type": "string",
                  "description": "The name of the feed generator."
                },
                "description": {
                  "type": "string",
                  "description": "A description of the feed generator."
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The timestamp when the feed generator was created."
                },
                "config": {
                  "type": "object",
                  "description": "Configuration details for the feed generator."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified feed generator does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getLikes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Likes for a Post",
        "description": "Retrieves a list of users who liked a specific post within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "GetLikes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the post whose likes are being retrieved.",
            "x-ms-summary": "Post ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of likes to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of users who liked the specified post.",
            "schema": {
              "type": "object",
              "properties": {
                "likes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "userId": {
                        "type": "string",
                        "description": "The unique identifier of the user who liked the post."
                      },
                      "likedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the post was liked."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getPostThread": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Post Thread",
        "description": "Retrieves a thread of posts starting from a specific post within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "GetPostThread",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the starting post in the thread.",
            "x-ms-summary": "Post ID"
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The depth of the thread to retrieve.",
            "x-ms-summary": "Depth"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the post thread starting from the specified post.",
            "schema": {
              "type": "object",
              "properties": {
                "thread": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "postId": {
                        "type": "string",
                        "description": "The unique identifier of a post in the thread."
                      },
                      "authorId": {
                        "type": "string",
                        "description": "The unique identifier of the post's author."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the post was created."
                      },
                      "content": {
                        "type": "object",
                        "description": "The content of the post."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getPosts": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Posts",
        "description": "Retrieves multiple posts by their unique identifiers within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "GetPosts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postIds",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of unique identifiers for the posts to retrieve.",
            "x-ms-summary": "Post IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the specified posts.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "postId": {
                    "type": "string",
                    "description": "The unique identifier of the post."
                  },
                  "authorId": {
                    "type": "string",
                    "description": "The unique identifier of the post's author."
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The timestamp when the post was created."
                  },
                  "content": {
                    "type": "object",
                    "description": "The content of the post."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.repostedBy": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Retrieve users who reposted a post",
        "operationId": "RepostedBy",
        "description": "Fetches a list of users who have reposted a specified post.",
        "parameters": [
          {
[...]
