{
  "swagger": "2.0",
  "info": {
    "title": "Bluesky Social",
    "description": "Specification for the Bluesky Social endpoints. Includes endpoints for social interaction, admin, chat, ATProto, and ozone.",
    "contact": {
      "name": "Dan Romano",
      "email": "dan.romano@swolcat.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/mit/"
    },
    "version": "1.0"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.bsky.app/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://example.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social Media"
    }
  ],
  "host": "bsky.social",
  "basePath": "/xrpc",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/xrpc/app.bsky.actor.getPreferences": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Preferences for Current Account",
        "description": "Retrieve the user's preferences.\n",
        "operationId": "GetPreferences",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved preferences for the current account.",
            "schema": {
              "type": "object",
              "required": [
                "preferences"
              ],
              "properties": {
                "preferences": {
                  "$ref": "#/definitions/Preferences"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.getProfile": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Detailed Profile of an Actor",
        "description": "Retrieve the profile of a specific actor.",
        "operationId": "GetProfile",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "Handle or DID of the account to fetch the profile of.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the actor's detailed profile.",
            "schema": {
              "type": "object",
              "properties": {
                "did": {
                  "type": "string",
                  "description": "Decentralized Identifier (DID) of the actor."
                },
                "handle": {
                  "type": "string",
                  "description": "Unique handle of the actor."
                },
                "displayName": {
                  "type": "string",
                  "description": "Display name of the actor."
                },
                "description": {
                  "type": "string",
                  "description": "Profile description of the actor."
                },
                "avatar": {
                  "type": "string",
                  "format": "uri",
                  "description": "URI for the actor's avatar image."
                },
                "banner": {
                  "type": "string",
                  "format": "uri",
                  "description": "URI for the actor's banner image."
                },
                "followersCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of followers the actor has."
                },
                "followsCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of accounts the actor is following."
                },
                "postsCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of posts by the actor."
                },
                "associated": {
                  "type": "object",
                  "description": "Associated data for the actor.",
                  "properties": {
                    "lists": {
                      "type": "integer",
                      "description": "Number of lists the actor is part of."
                    },
                    "feedgens": {
                      "type": "integer",
                      "description": "Number of feed generators associated with the actor."
                    },
                    "starterPacks": {
                      "type": "integer",
                      "description": "Number of starter packs associated with the actor."
                    },
                    "labeler": {
                      "type": "boolean",
                      "description": "Indicates if the actor is a labeler."
                    },
                    "chat": {
                      "type": "object",
                      "description": "Chat-related preferences.",
                      "properties": {
                        "allowIncoming": {
                          "type": "string",
                          "description": "Preference for allowing incoming chats."
                        }
                      }
                    }
                  }
                },
                "joinedViaStarterPack": {
                  "type": "object",
                  "description": "Starter pack details if the actor joined via one.",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "format": "uri",
                      "description": "URI of the starter pack."
                    },
                    "cid": {
                      "type": "string",
                      "description": "Content identifier of the starter pack."
                    },
                    "record": {
                      "type": "object",
                      "description": "Record details of the starter pack."
                    },
                    "creator": {
                      "$ref": "#/definitions/ProfileView"
                    },
                    "labels": {
                      "type": "array",
                      "description": "Labels associated with the starter pack.",
                      "items": {
                        "$ref": "#/definitions/Label"
                      }
                    }
                  }
                },
                "labels": {
                  "type": "array",
                  "description": "Labels associated with the actor.",
                  "items": {
                    "$ref": "#/definitions/Label"
                  }
                },
                "indexedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when the actor's profile was last indexed."
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when the actor's profile was created."
                },
                "viewer": {
                  "type": "object",
                  "description": "Viewer-specific data for the profile.",
                  "properties": {
                    "muted": {
                      "type": "boolean",
                      "description": "Indicates if the actor is muted."
                    },
                    "mutedByList": {
                      "$ref": "#/definitions/MutedByList"
                    },
                    "blockedBy": {
                      "type": "boolean",
                      "description": "Indicates if the actor is blocked by the viewer."
                    },
                    "blocking": {
                      "type": "string",
                      "description": "Details of blocking, if any."
                    },
                    "blockingByList": {
                      "$ref": "#/definitions/BlockingByList"
                    },
                    "following": {
                      "type": "string",
                      "description": "Indicates if the viewer is following the actor."
                    },
                    "followedBy": {
                      "type": "string",
                      "description": "Indicates if the actor is following the viewer."
                    },
                    "knownFollowers": {
                      "type": "object",
                      "description": "Known followers of the actor.",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "Total count of known followers."
                        },
                        "followers": {
                          "type": "array",
                          "description": "List of known followers.",
                          "items": {
                            "$ref": "#/definitions/ProfileView"
                          }
                        }
                      }
                    }
                  }
                },
                "pinnedPost": {
                  "type": "object",
                  "description": "Pinned post details.",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "format": "uri",
                      "description": "URI of the pinned post."
                    },
                    "cid": {
                      "type": "string",
                      "description": "Content identifier of the pinned post."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.getProfiles": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Detailed Profiles of Multiple Actors",
        "description": "Retrieve profiles for multiple actors.",
        "operationId": "GetProfiles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actors",
            "in": "query",
            "description": "Comma-separated list of handles or DIDs of the accounts to fetch profiles for.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Identifiers"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved detailed profiles of the specified actors.",
            "schema": {
              "type": "object",
              "required": [
                "profiles"
              ],
              "properties": {
                "profiles": {
                  "type": "array",
                  "description": "An array of detailed profile views for the specified actors.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "did": {
                        "type": "string",
                        "description": "Decentralized Identifier (DID) of the actor."
                      },
                      "handle": {
                        "type": "string",
                        "description": "Unique handle of the actor."
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Display name of the actor."
                      },
                      "description": {
                        "type": "string",
                        "description": "Profile description of the actor."
                      },
                      "avatar": {
                        "type": "string",
                        "format": "uri",
                        "description": "URI for the actor's avatar image."
                      },
                      "banner": {
                        "type": "string",
                        "format": "uri",
                        "description": "URI for the actor's banner image."
                      },
                      "followersCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of followers the actor has."
                      },
                      "followsCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of accounts the actor is following."
                      },
                      "postsCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of posts by the actor."
                      },
                      "associated": {
                        "type": "object",
                        "description": "Associated data for the actor.",
                        "properties": {
                          "lists": {
                            "type": "integer",
                            "description": "Number of lists the actor is part of."
                          },
                          "feedgens": {
                            "type": "integer",
                            "description": "Number of feed generators associated with the actor."
                          },
                          "starterPacks": {
                            "type": "integer",
                            "description": "Number of starter packs associated with the actor."
                          },
                          "labeler": {
                            "type": "boolean",
                            "description": "Indicates if the actor is a labeler."
                          },
                          "chat": {
                            "type": "object",
                            "description": "Chat-related preferences.",
                            "properties": {
                              "allowIncoming": {
                                "type": "string",
                                "description": "Preference for allowing incoming chats."
                              }
                            }
                          }
                        }
                      },
                      "labels": {
                        "type": "array",
                        "description": "Labels associated with the actor.",
                        "items": {
                          "$ref": "#/definitions/Label"
                        }
                      },
                      "viewer": {
                        "type": "object",
                        "description": "Viewer-specific data for the profile.",
                        "properties": {
                          "muted": {
                            "type": "boolean",
                            "description": "Indicates if the actor is muted."
                          },
                          "mutedByList": {
                            "$ref": "#/definitions/MutedByList"
                          },
                          "blockedBy": {
                            "type": "boolean",
                            "description": "Indicates if the actor is blocked by the viewer."
                          },
                          "blocking": {
                            "type": "string",
                            "description": "Details of blocking, if any."
                          },
                          "blockingByList": {
                            "$ref": "#/definitions/BlockingByList"
                          },
                          "following": {
                            "type": "string",
                            "description": "Indicates if the viewer is following the actor."
                          },
                          "followedBy": {
                            "type": "string",
                            "description": "Indicates if the actor is following the viewer."
                          },
                          "knownFollowers": {
                            "type": "object",
                            "description": "Known followers of the actor.",
                            "properties": {
                              "count": {
                                "type": "integer",
                                "description": "Total count of known followers."
                              },
                              "followers": {
                                "type": "array",
                                "description": "List of known followers.",
                                "items": {
                                  "$ref": "#/definitions/ProfileView"
                                }
                              }
                            }
                          }
                        }
                      },
                      "pinnedPost": {
                        "type": "object",
                        "description": "Pinned post details.",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "format": "uri",
                            "description": "URI of the pinned post."
                          },
                          "cid": {
                            "type": "string",
                            "description": "Content identifier of the pinned post."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.getSuggestions": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Suggestions for Actors",
        "description": "Retrieve account suggestions for the user.",
        "operationId": "GetSuggestions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of suggestions to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved suggested profiles.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next set of results."
                },
                "actors": {
                  "type": "array",
                  "description": "An array of suggested actor profiles.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "did": {
                        "type": "string",
                        "description": "Decentralized Identifier (DID) of the actor."
                      },
                      "handle": {
                        "type": "string",
                        "description": "Unique handle of the actor."
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Display name of the actor."
                      },
                      "description": {
                        "type": "string",
                        "description": "Profile description of the actor."
                      },
                      "avatar": {
                        "type": "string",
                        "format": "uri",
                        "description": "URI of the actor's avatar image."
                      },
                      "associated": {
                        "type": "object",
                        "description": "Associated metadata for the actor.",
                        "properties": {
                          "lists": {
                            "type": "integer",
                            "description": "Number of lists the actor is part of."
                          },
                          "feedgens": {
                            "type": "integer",
                            "description": "Number of feed generators associated with the actor."
                          },
                          "starterPacks": {
                            "type": "integer",
                            "description": "Number of starter packs associated with the actor."
                          },
                          "labeler": {
                            "type": "boolean",
                            "description": "Indicates if the actor is a labeler."
                          },
                          "chat": {
                            "type": "object",
                            "description": "Chat preferences for the actor.",
                            "properties": {
                              "allowIncoming": {
                                "type": "string",
                                "description": "Specifies if incoming chats are allowed."
                              }
                            }
                          }
                        }
                      },
                      "viewer": {
                        "type": "object",
                        "description": "Viewer-specific metadata for the actor.",
                        "properties": {
                          "muted": {
                            "type": "boolean",
                            "description": "Indicates if the actor is muted by the viewer."
                          },
                          "mutedByList": {
                            "$ref": "#/definitions/MutedByList"
                          },
                          "blockedBy": {
                            "type": "boolean",
                            "description": "Indicates if the actor is blocked by the viewer."
                          },
                          "blocking": {
                            "type": "string",
                            "description": "Details of the block, if applicable."
                          },
                          "blockingByList": {
                            "$ref": "#/definitions/BlockingByList"
                          },
                          "following": {
                            "type": "string",
                            "description": "Indicates if the viewer is following the actor."
                          },
                          "followedBy": {
                            "type": "string",
                            "description": "Indicates if the actor is following the viewer."
                          },
                          "knownFollowers": {
                            "type": "object",
                            "description": "Known followers of the actor.",
                            "properties": {
                              "count": {
                                "type": "integer",
                                "description": "Total number of known followers."
                              },
                              "followers": {
                                "type": "array",
                                "description": "List of known followers.",
                                "items": {
                                  "$ref": "#/definitions/ProfileView"
                                }
                              }
                            }
                          }
                        }
                      },
                      "labels": {
                        "type": "array",
                        "description": "Labels associated with the actor.",
                        "items": {
                          "$ref": "#/definitions/Label"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.putPreferences": {
      "post": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Update Preferences for current account",
        "description": "Update the user's preferences.\n",
        "operationId": "PutPreferences",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the preferences to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Preferences"
            },
            "x-ms-summary": "Preferences Payload"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated preferences for the current account.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates whether the preferences update was successful.",
                  "example": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.searchActors": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Search for Actors",
        "description": "Search for actors by a query term.",
        "operationId": "SearchActors",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The search term used to find actors.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search Term"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of results to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of actors matching the search term.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for navigating results."
                },
                "actors": {
                  "type": "array",
                  "description": "An array of actors matching the search criteria.",
                  "items": {
                    "$ref": "#/definitions/ProfileViewDetailed"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.searchActorsTypeahead": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Search Actors for Typeahead",
        "description": "Retrieve account suggestions for typeahead search.",
        "operationId": "SearchActorsTypeahead",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The search term used for typeahead results.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search Term"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved typeahead suggestions for actors.",
            "schema": {
              "type": "object",
              "properties": {
                "actors": {
                  "type": "array",
                  "description": "An array of minimal actor details matching the typeahead search.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "did": {
                        "type": "string",
                        "description": "Decentralized Identifier (DID) of the actor."
                      },
                      "handle": {
                        "type": "string",
                        "description": "Unique handle of the actor."
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Display name of the actor."
                      },
                      "avatar": {
                        "type": "string",
                        "format": "uri",
                        "description": "URI of the actor's avatar image."
                      },
                      "associated": {
                        "type": "object",
                        "description": "Associated metadata for the actor.",
                        "properties": {
                          "lists": {
                            "type": "integer",
                            "description": "Number of lists the actor is part of."
                          },
                          "feedgens": {
                            "type": "integer",
                            "description": "Number of feed generators associated with the actor."
                          },
                          "starterPacks": {
                            "type": "integer",
                            "description": "Number of starter packs associated with the actor."
                          },
                          "labeler": {
                            "type": "boolean",
                            "description": "Indicates if the actor is a labeler."
                          },
                          "chat": {
                            "type": "object",
                            "description": "Chat preferences for the actor.",
                            "properties": {
                              "allowIncoming": {
                                "type": "string",
                                "description": "Specifies if incoming chats are allowed."
                              }
                            }
                          }
                        }
                      },
                      "viewer": {
                        "type": "object",
                        "description": "Viewer-specific metadata for the actor.",
                        "properties": {
                          "muted": {
                            "type": "boolean",
                            "description": "Indicates if the actor is muted by the viewer."
                          },
                          "mutedByList": {
                            "$ref": "#/definitions/MutedByList"
                          },
                          "blockedBy": {
                            "type": "boolean",
                            "description": "Indicates if the actor is blocked by the viewer."
                          },
                          "blocking": {
                            "type": "string",
                            "description": "Details of the block, if applicable."
                          },
                          "blockingByList": {
                            "$ref": "#/definitions/BlockingByList"
                          },
                          "following": {
                            "type": "string",
                            "description": "Indicates if the viewer is following the actor."
                          },
                          "followedBy": {
                            "type": "string",
                            "description": "Indicates if the actor is following the viewer."
                          },
                          "knownFollowers": {
                            "type": "object",
                            "description": "Known followers of the actor.",
                            "properties": {
                              "count": {
                                "type": "integer",
                                "description": "Total number of known followers."
                              },
                              "followers": {
                                "type": "array",
                                "description": "List of known followers.",
                                "items": {
                                  "$ref": "#/definitions/ProfileView"
                                }
                              }
                            }
                          }
                        }
                      },
                      "labels": {
                        "type": "array",
                        "description": "Labels associated with the actor.",
                        "items": {
                          "$ref": "#/definitions/Label"
                        }
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp of the actor's profile creation."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.describeFeedGenerator": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Describe Feed Generator",
        "description": "Retrieve metadata about the feed generator.",
        "operationId": "DescribeFeedGenerator",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generatorUri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The URI of the feed generator to describe.",
            "x-ms-summary": "Feed Generator URI"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved metadata about the feed generator.",
            "schema": {
              "type": "object",
              "properties": {
                "did": {
                  "type": "string",
                  "description": "Decentralized Identifier of the feed generator."
                },
                "feeds": {
                  "type": "array",
                  "description": "A list of feed URIs associated with the feed generator.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "URI of the feed."
                      }
                    }
                  }
                },
                "links": {
                  "type": "object",
                  "description": "Relevant links or metadata for the feed generator.",
                  "properties": {
                    "privacyPolicy": {
                      "type": "string",
                      "description": "URL of the feed generator's privacy policy.",
                      "example": "https://example.com/privacy"
                    },
                    "termsOfService": {
                      "type": "string",
                      "description": "URL of the feed generator's terms of service.",
                      "example": "https://example.com/terms"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getActorFeeds": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feeds for an Actor",
        "description": "Retrieve feeds created by a specific actor.",
        "operationId": "GetActorFeeds",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "Handle or DID of the actor whose feeds are being retrieved.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of feeds to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the actor's feeds.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for fetching the next page of results."
                },
                "feeds": {
                  "type": "array",
                  "description": "An array of feeds created by the actor.",
                  "items": {
                    "type": "object",
                    "description": "Details of a feed.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "URI of the feed.",
                        "example": "at://did:plc:abcd1234/app.bsky.feed/123"
                      },
                      "cid": {
                        "type": "string",
                        "description": "Content ID (CID) of the feed."
                      },
                      "did": {
                        "type": "string",
                        "description": "Decentralized Identifier of the feed creator."
                      },
                      "creator": {
                        "$ref": "#/definitions/ProfileViewDetailed"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Display name of the feed.",
                        "example": "My Tech News"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the feed.",
                        "example": "Latest updates in the tech world."
                      },
                      "descriptionFacets": {
                        "type": "array",
                        "description": "Facets for highlighting specific parts of the description.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "index": {
                              "type": "object",
                              "description": "Byte range for highlighting.",
                              "properties": {
                                "byteStart": {
                                  "type": "integer",
                                  "description": "Starting byte position."
                                },
                                "byteEnd": {
                                  "type": "integer",
                                  "description": "Ending byte position."
                                }
                              }
                            },
                            "features": {
                              "type": "array",
                              "description": "Additional features for the facet.",
                              "items": {
                                "type": "object"
                              }
                            }
                          }
                        }
                      },
                      "avatar": {
                        "type": "string",
                        "description": "URL of the feed's avatar image.",
                        "example": "https://example.com/feed-avatar.jpg"
                      },
                      "likeCount": {
                        "type": "integer",
                        "description": "Number of likes on the feed."
                      },
                      "acceptsInteractions": {
                        "type": "boolean",
                        "description": "Whether the feed accepts interactions like likes or comments."
                      },
                      "labels": {
                        "type": "array",
                        "description": "Labels associated with the feed.",
                        "items": {
                          "$ref": "#/definitions/Label"
                        }
                      },
                      "viewer": {
                        "type": "object",
                        "description": "Metadata specific to the viewer.",
                        "properties": {
                          "like": {
                            "type": "string",
                            "description": "URI of the viewer's like on the feed."
                          }
                        }
                      },
                      "indexedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the feed was indexed."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getActorLikes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Liked Posts by an Actor",
        "description": "Retrieve posts liked by a specific actor.",
        "operationId": "GetActorLikes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "Handle or DID of the actor whose liked posts are being retrieved.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of liked posts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the liked posts by the actor.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for fetching the next page of results."
                },
                "feed": {
                  "type": "array",
                  "description": "An array of posts liked by the actor.",
                  "items": {
                    "type": "object",
                    "description": "Details of a liked post.",
                    "properties": {
                      "post": {
                        "type": "object",
                        "description": "Details of the liked post.",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "description": "URI of the liked post."
                          },
                          "cid": {
                            "type": "string",
                            "description": "Content ID (CID) of the post."
                          },
                          "author": {
                            "$ref": "#/definitions/ProfileViewDetailed"
                          },
                          "labels": {
                            "type": "array",
                            "description": "Labels associated with the post.",
                            "items": {
                              "$ref": "#/definitions/Label"
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the post was created."
                          },
                          "record": {
                            "type": "object",
                            "description": "Additional record details for the post."
                          },
                          "embed": {
                            "type": "object",
                            "description": "Embedded content within the post."
                          },
                          "replyCount": {
                            "type": "integer",
                            "description": "Number of replies to the post."
                          },
                          "repostCount": {
                            "type": "integer",
                            "description": "Number of reposts of the post."
                          },
                          "likeCount": {
                            "type": "integer",
                            "description": "Number of likes on the post."
                          },
                          "quoteCount": {
                            "type": "integer",
                            "description": "Number of quotes for the post."
                          },
                          "indexedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the post was indexed."
                          },
                          "viewer": {
                            "$ref": "#/definitions/ViewerMetadata"
                          },
                          "threadgate": {
                            "type": "object",
                            "description": "Thread-related metadata.",
                            "properties": {
                              "uri": {
                                "type": "string",
                                "description": "URI of the thread."
                              },
                              "cid": {
                                "type": "string",
                                "description": "CID of the thread."
                              },
                              "record": {
                                "type": "object",
                                "description": "Additional record details for the thread."
                              },
                              "lists": {
                                "type": "array",
                                "description": "Lists associated with the thread.",
                                "items": {
                                  "$ref": "#/definitions/ListMetadata"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getAuthorFeed": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Posts by an Author",
        "description": "Retrieve posts from a specific author.",
        "operationId": "GetAuthorFeed",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "author",
            "in": "query",
            "description": "Handle or DID of the post author.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Author Identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of posts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the posts by the author.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next set of results."
                },
                "feed": {
                  "type": "array",
                  "description": "An array of feed items.",
                  "items": {
                    "type": "object",
                    "description": "Details of a feed item.",
                    "properties": {
                      "post": {
                        "type": "object",
                        "description": "Details of the post.",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "description": "URI of the post."
                          },
                          "cid": {
                            "type": "string",
                            "description": "CID of the post."
                          },
                          "author": {
                            "$ref": "#/definitions/ProfileViewDetailed"
                          },
                          "record": {
                            "type": "object",
                            "description": "Record metadata for the post."
                          },
                          "embed": {
                            "type": "object",
                            "description": "Embed metadata for the post."
                          },
                          "replyCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of replies to the post."
                          },
                          "repostCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of reposts of the post."
                          },
                          "likeCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of likes on the post."
                          },
                          "quoteCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of quotes of the post."
                          },
                          "indexedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the post was indexed."
                          },
                          "viewer": {
                            "type": "object",
                            "description": "Viewer-specific metadata.",
                            "properties": {
                              "repost": {
                                "type": "string",
                                "description": "URI of the viewer's repost of the post."
                              },
                              "like": {
                                "type": "string",
                                "description": "URI of the viewer's like on the post."
                              },
                              "threadMuted": {
                                "type": "boolean",
                                "description": "Indicates if the viewer muted the thread."
                              },
                              "replyDisabled": {
                                "type": "boolean",
                                "description": "Indicates if replies are disabled for the post."
                              },
                              "embeddingDisabled": {
                                "type": "boolean",
                                "description": "Indicates if embedding is disabled for the post."
                              },
                              "pinned": {
                                "type": "boolean",
                                "description": "Indicates if the post is pinned."
                              }
                            }
                          },
                          "labels": {
                            "type": "array",
                            "description": "Labels associated with the post.",
                            "items": {
                              "$ref": "#/definitions/Label"
                            }
                          },
                          "threadgate": {
                            "type": "object",
                            "description": "Thread gate metadata.",
                            "properties": {
                              "uri": {
                                "type": "string",
                                "description": "URI of the thread gate."
                              },
                              "cid": {
                                "type": "string",
                                "description": "CID of the thread gate."
                              },
                              "record": {
                                "type": "object",
                                "description": "Record metadata for the thread gate."
                              },
                              "lists": {
                                "type": "array",
                                "description": "Lists associated with the thread gate.",
                                "items": {
                                  "$ref": "#/definitions/ListDetails"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeed": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed for a Specific URI",
        "description": "Retrieve posts from a specific feed or tag.",
        "operationId": "GetFeed",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "query",
            "description": "URI of the feed to retrieve.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Feed URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to retrieve in the feed.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through the feed.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the feed contents.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next set of results."
                },
                "feed": {
                  "type": "array",
                  "description": "An array of feed items.",
                  "items": {
                    "type": "object",
                    "description": "Details of a feed item.",
                    "properties": {
                      "post": {
                        "type": "object",
                        "description": "Details of the post.",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "description": "URI of the post."
                          },
                          "cid": {
                            "type": "string",
                            "description": "Content identifier of the post."
                          },
                          "author": {
                            "type": "object",
                            "description": "Information about the post author.",
                            "properties": {
                              "did": {
                                "type": "string",
                                "description": "DID of the author."
                              },
                              "handle": {
                                "type": "string",
                                "description": "Handle of the author."
                              },
                              "displayName": {
                                "type": "string",
                                "description": "Display name of the author."
                              },
                              "avatar": {
                                "type": "string",
                                "description": "URL of the author's avatar image."
                              },
                              "associated": {
                                "type": "object",
                                "description": "Associated metadata for the author.",
                                "properties": {
                                  "lists": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Number of lists associated."
                                  },
                                  "feedgens": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Number of feed generators associated."
                                  },
                                  "starterPacks": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Number of starter packs associated."
                                  },
                                  "labeler": {
                                    "type": "boolean",
                                    "description": "Whether the author is a labeler."
                                  },
                                  "chat": {
                                    "type": "object",
                                    "description": "Chat settings for the author.",
                                    "properties": {
                                      "allowIncoming": {
                                        "type": "string",
                                        "description": "Type of incoming messages allowed."
                                      }
                                    }
                                  }
                                }
                              },
                              "viewer": {
                                "type": "object",
                                "description": "Viewer-specific metadata.",
                                "properties": {
                                  "muted": {
                                    "type": "boolean",
                                    "description": "Whether the viewer has muted the author."
                                  },
                                  "blockedBy": {
                                    "type": "boolean",
                                    "description": "Whether the viewer is blocked by the author."
                                  }
                                }
                              }
                            }
                          },
                          "labels": {
                            "type": "array",
                            "description": "Labels associated with the post.",
                            "items": {
                              "$ref": "#/definitions/Label"
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the post was created."
                          }
                        }
                      },
                      "reply": {
                        "type": "object",
                        "description": "Reply-specific metadata for the feed item."
                      },
                      "reason": {
                        "type": "object",
                        "description": "Reason for including the feed item."
                      },
                      "feedContext": {
                        "type": "string",
                        "description": "Context of the feed item in the feed."
                      },
                      "indexedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the feed item was indexed."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeedGenerator": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Metadata for a Feed Generator",
        "description": "Retrieve metadata about a specific feed generator.",
        "operationId": "GetFeedGenerator",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "query",
            "description": "URI of the feed generator to retrieve metadata for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Feed Generator URI"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved metadata for the feed generator.",
            "schema": {
              "type": "object",
              "properties": {
                "view": {
                  "type": "object",
                  "description": "Detailed metadata about the feed generator.",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "description": "URI of the feed generator."
                    },
                    "cid": {
                      "type": "string",
                      "description": "Content identifier for the feed generator."
                    },
                    "did": {
                      "type": "string",
                      "description": "DID of the feed generator creator."
                    },
                    "creator": {
                      "type": "object",
                      "description": "Information about the creator of the feed generator.",
                      "properties": {
                        "did": {
                          "type": "string",
                          "description": "DID of the creator."
                        },
                        "handle": {
                          "type": "string",
                          "description": "Handle of the creator."
                        },
                        "displayName": {
                          "type": "string",
                          "description": "Display name of the creator."
                        },
                        "description": {
                          "type": "string",
                          "description": "Description of the creator."
                        },
                        "avatar": {
                          "type": "string",
                          "description": "URL of the creator's avatar image."
                        },
                        "associated": {
                          "type": "object",
                          "description": "Associated metadata for the creator.",
                          "properties": {
                            "lists": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Number of lists associated."
                            },
                            "feedgens": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Number of feed generators associated."
                            },
                            "starterPacks": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Number of starter packs associated."
                            },
                            "labeler": {
                              "type": "boolean",
                              "description": "Whether the creator is a labeler."
                            },
                            "chat": {
                              "type": "object",
                              "description": "Chat settings for the creator.",
                              "properties": {
                                "allowIncoming": {
                                  "type": "string",
                                  "description": "Type of incoming messages allowed."
                                }
                              }
                            }
                          }
                        },
                        "indexedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the creator was indexed."
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the creator was created."
                        }
                      }
                    },
                    "displayName": {
                      "type": "string",
                      "description": "Display name of the feed generator."
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the feed generator."
                    },
                    "descriptionFacets": {
                      "type": "array",
                      "description": "Facets within the description of the feed generator.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "object",
                            "description": "Index information for facets.",
                            "properties": {
                              "byteStart": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Start byte of the facet."
                              },
                              "byteEnd": {
                                "type": "integer",
                                "format": "int32",
                                "description": "End byte of the facet."
                              }
                            }
                          },
                          "features": {
                            "type": "array",
                            "description": "Features associated with the facet.",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    },
                    "avatar": {
                      "type": "string",
                      "description": "URL of the feed generator's avatar image."
                    },
                    "likeCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of likes on the feed generator."
                    },
                    "acceptsInteractions": {
                      "type": "boolean",
                      "description": "Whether the feed generator accepts interactions."
                    },
                    "labels": {
                      "type": "array",
                      "description": "Labels associated with the feed generator.",
                      "items": {
                        "$ref": "#/definitions/Label"
                      }
                    },
                    "viewer": {
                      "type": "object",
                      "description": "Viewer-specific metadata.",
                      "properties": {
                        "like": {
                          "type": "string",
                          "description": "URI of the viewer's like."
                        }
                      }
                    },
                    "indexedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the feed generator was indexed."
                    }
                  }
                },
                "isOnline": {
                  "type": "boolean",
                  "description": "Whether the feed generator is online."
                },
                "isValid": {
                  "type": "boolean",
                  "description": "Whether the feed generator is valid."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeedGenerators": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Metadata for Multiple Feed Generators",
        "description": "Retrieve metadata about multiple feed generators.",
        "operationId": "GetFeedGenerators",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generators",
            "in": "query",
            "description": "Comma-separated list of feed generator URIs to retrieve metadata for.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Feed Generator URIs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved metadata for multiple feed generators.",
            "schema": {
              "type": "object",
              "properties": {
                "feeds": {
                  "type": "array",
                  "description": "An array of feed generator metadata.",
                  "items": {
                    "type": "object",
                    "description": "Metadata for a single feed generator.",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "URI of the feed generator."
                      },
                      "cid": {
                        "type": "string",
                        "description": "Content identifier for the feed generator."
                      },
                      "did": {
                        "type": "string",
                        "description": "DID of the feed generator creator."
                      },
                      "creator": {
                        "type": "object",
                        "description": "Information about the creator of the feed generator.",
                        "properties": {
                          "did": {
                            "type": "string",
                            "description": "DID of the creator."
                          },
                          "handle": {
                            "type": "string",
                            "description": "Handle of the creator."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Display name of the creator."
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the creator."
                          },
                          "avatar": {
                            "type": "string",
                            "description": "URL of the creator's avatar image."
                          },
                          "associated": {
                            "type": "object",
                            "description": "Associated metadata for the creator.",
                            "properties": {
                              "lists": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of lists associated."
                              },
                              "feedgens": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of feed generators associated."
                              },
                              "starterPacks": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of starter packs associated."
                              },
                              "labeler": {
                                "type": "boolean",
                                "description": "Whether the creator is a labeler."
                              },
                              "chat": {
                                "type": "object",
                                "description": "Chat settings for the creator.",
                                "properties": {
                                  "allowIncoming": {
                                    "type": "string",
                                    "description": "Type of incoming messages allowed."
                                  }
                                }
                              }
                            }
                          },
                          "indexedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the creator was indexed."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the creator was created."
                          }
                        }
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Display name of the feed generator."
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the feed generator."
                      },
                      "descriptionFacets": {
                        "type": "array",
                        "description": "Facets within the description of the feed generator.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "index": {
                              "type": "object",
                              "description": "Index information for facets.",
                              "properties": {
                                "byteStart": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Start byte of the facet."
                                },
                                "byteEnd": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "End byte of the facet."
                                }
                              }
                            },
                            "features": {
                              "type": "array",
                              "description": "Features associated with the facet.",
                              "items": {
                                "type": "object"
                              }
                            }
                          }
                        }
                      },
                      "avatar": {
                        "type": "string",
                        "description": "URL of the feed generator's avatar image."
                      },
                      "likeCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of likes on the feed generator."
                      },
                      "acceptsInteractions": {
                        "type": "boolean",
                        "description": "Whether the feed generator accepts interactions."
                      },
                      "labels": {
                        "type": "array",
                        "description": "Labels associated with the feed generator.",
                        "items": {
                          "$ref": "#/definitions/Label"
                        }
                      },
                      "viewer": {
                        "type": "object",
                        "description": "Viewer-specific metadata.",
                        "properties": {
                          "like": {
                            "type": "string",
                            "description": "URI of the viewer's like."
                          }
                        }
                      },
                      "indexedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the feed generator was indexed."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeedSkeleton": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Skeleton Feed",
        "description": "Retrieve a minimal skeletal version of a feed.",
        "operationId": "GetFeedSkeleton",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "query",
            "description": "URI of the feed to retrieve the skeleton for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Feed URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items in the skeleton.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating the skeleton.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the skeleton feed.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next set of results."
                },
                "feed": {
                  "type": "array",
                  "description": "An array of skeleton feed items.",
                  "items": {
                    "type": "object",
                    "description": "Details of a skeleton feed item.",
                    "properties": {
                      "post": {
                        "type": "string",
                        "description": "URI of the feed item post."
                      },
                      "reason": {
                        "type": "object",
                        "description": "Reason for including the feed item."
                      },
                      "feedContext": {
                        "type": "string",
                        "description": "Context of the feed item in the skeleton."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getLikes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Likes for a Post",
        "description": "Retrieve users who liked a specific post.",
        "operationId": "GetLikes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "description": "URI of the post to retrieve likes for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "Post URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of likes to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor for navigating through results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved likes for the specified post.",
            "schema": {
              "type": "object",
              "properties": {
                "uri": {
                  "type": "string",
                  "description": "URI of the post."
                },
                "cid": {
                  "type": "string",
                  "description": "Content identifier for the post."
                },
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next set of results."
                },
                "likes": {
                  "type": "array",
                  "description": "An array of actors who liked the post.",
                  "items": {
                    "type": "object",
                    "description": "Details of a user who liked the post.",
                    "properties": {
                      "indexedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the like was indexed."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp when the like was created."
                      },
                      "actor": {
                        "type": "object",
                        "description": "Details of the actor who liked the post.",
                        "properties": {
                          "did": {
                            "type": "string",
                            "description": "DID of the actor."
                          },
                          "handle": {
                            "type": "string",
                            "description": "Handle of the actor."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Display name of the actor."
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the actor."
                          },
                          "avatar": {
                            "type": "string",
                            "description": "URL of the actor's avatar image."
                          },
                          "associated": {
                            "type": "object",
                            "description": "Associated metadata for the actor.",
                            "properties": {
                              "lists": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of lists associated."
                              },
                              "feedgens": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of feed generators associated."
                              },
                              "starterPacks": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Number of starter packs associated."
                              },
                              "labeler": {
                                "type": "boolean",
                                "description": "Whether the actor is a labeler."
                              },
                              "chat": {
                                "type": "object",
                                "description": "Chat settings for the actor.",
                                "properties": {
                                  "allowIncoming": {
                                    "type": "string",
                                    "description": "Type of incoming messages allowed."
                                  }
                                }
                              }
                            }
                          },
                          "indexedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the actor was indexed."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the actor was created."
                          },
                          "viewer": {
                            "type": "object",
                            "description": "Viewer-specific metadata for the actor.",
                            "properties": {
                              "muted": {
                                "type": "boolean",
                                "description": "Whether the viewer has muted the actor."
                              },
                              "blockedBy": {
                                "type": "boolean",
                                "description": "Whether the viewer is blocked by the actor."
                              }
                            }
                          },
                          "labels": {
                            "type": "array",
                            "description": "Labels associated with the actor.",
                            "items": {
                              "$ref": "#/definitions/Label"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getListFeed": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed for a List",
        "description": "Retrieve posts from a specific list.",
        "operationId": "GetListFeed",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "list",
            "in": "query",
            "description": "URI of the list to retrieve the feed for.",
            "required": true,
            "type": "string",
            "format": "uri",
            "x-ms-summary": "List URI"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of posts to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for navigating through the feed.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list feed.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next page."
                },
                "feed": {
                  "type": "array",
                  "description": "Array of feed items.",
                  "items": {
                    "type": "object",
                    "description": "Details of a feed item.",
                    "properties": {
                      "post": {
                        "type": "object",
                        "description": "Details of the post.",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "description": "URI of the post."
                          },
                          "cid": {
                            "type": "string",
                            "description": "Content identifier of the post."
                          },
                          "author": {
                            "type": "object",
[...]
