{
  "swagger": "2.0",
  "info": {
    "title": "Bluesky Social",
    "description": "Specification for the Bluesky Social endpoints. Includes endpoints for social interaction, admin, chat, ATProto, and ozone.",
    "contact": {
      "name": "Dan Romano",
      "email": "dan.romano@swolcat.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/mit/"
    },
    "version": "1.0"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.bsky.app/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://example.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social Media"
    }
  ],
  "host": "bsky.social",
  "basePath": "/xrpc",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "bearerAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "Enter 'Bearer' followed by a space and your token."
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/xrpc/app.bsky.actor.getpreferences": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Getpreferences",
        "description": "Get private preferences attached to the current account.",
        "operationId": "Getpreferences",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "preferences"
              ],
              "properties": {
                "preferences": {
                  "$ref": "#/definitions/preferences"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid account identifier or token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.getProfile": {
      "get": {
        "tags": [
          "actor"
        ],
        "summary": "Get Profile",
        "x-ms-summary": "Fetch a detailed profile of an actor.",
        "description": "Retrieve a detailed profile view of an actor using their handle or DID.",
        "operationId": "getProfile",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "Handle or DID of the account to fetch the profile of.",
            "x-ms-summary": "Actor Identifier",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed profile fetched successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "profile": {
                  "x-ms-dynamic-schema": {
                    "operationId": "getProfile",
                    "value-path": "profile",
                    "parameters": {
                      "actor": "{actor}"
                    }
                  },
                  "description": "Detailed profile information of the actor."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.getProfiles": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Profiles",
        "description": "Get detailed profile views of multiple actors.",
        "operationId": "getProfiles",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actors",
            "in": "query",
            "required": true,
            "description": "Actor Identifier",
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 25,
            "x-ms-summary": "List of actor identifiers"
          }
        ],
        "responses": {
          "200": {
            "description": "Profiles retrieved successfully.",
            "schema": {
              "type": "object",
              "required": [
                "profiles"
              ],
              "properties": {
                "profiles": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/profileViewDetailed"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ],
                  "description": "Error code indicating the type of failure."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ],
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.getSuggestions": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Suggested Actors",
        "x-ms-summary": "Get Suggested Actors",
        "description": "Get a list of suggested actors.",
        "operationId": "GetSuggestions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The maximum number of results to return.",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Cursor",
            "description": "A cursor for pagination.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "actors"
              ],
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next set of results."
                },
                "actors": {
                  "type": "array",
                  "description": "List of suggested actor profiles.",
                  "items": {
                    "$ref": "#/definitions/profileView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.searchActors": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Find actors (profiles) matching search criteria",
        "x-ms-summary": "Search Actors",
        "description": "Find actors (profiles) matching search criteria.",
        "operationId": "SearchActors",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "x-ms-summary": "Search Query",
            "description": "Search query string. Syntax, phrase, boolean, and faceting is unspecified, but Lucene query syntax is recommended.",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-ms-summary": "Result Limit",
            "description": "The maximum number of actors to return.",
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 25
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "x-ms-summary": "Pagination Cursor",
            "description": "Cursor for pagination to fetch the next set of results.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "actors"
              ],
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Cursor for pagination."
                },
                "actors": {
                  "type": "array",
                  "description": "List of matching actor profiles.",
                  "items": {
                    "$ref": "#/definitions/profileView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.actor.searchActorsTypeahead": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Search Actors for Typeahead",
        "description": "Retrieve account suggestions for typeahead search.",
        "x-ms-summary": "Retrieve account suggestions for typeahead search.",
        "operationId": "SearchActorsTypeahead",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The search term used for typeahead results.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search Term"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to retrieve.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved typeahead suggestions for actors.",
            "schema": {
              "type": "object",
              "properties": {
                "actors": {
                  "type": "array",
                  "description": "An array of minimal actor details matching the typeahead search.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "did": {
                        "type": "string",
                        "description": "Decentralized Identifier (DID) of the actor."
                      },
                      "handle": {
                        "type": "string",
                        "description": "Unique handle of the actor."
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Display name of the actor."
                      },
                      "avatar": {
                        "type": "string",
                        "format": "uri",
                        "description": "URI of the actor's avatar image."
                      },
                      "associated": {
                        "type": "object",
                        "description": "Associated metadata for the actor.",
                        "properties": {
                          "lists": {
                            "type": "integer",
                            "description": "Number of lists the actor is part of."
                          },
                          "feedgens": {
                            "type": "integer",
                            "description": "Number of feed generators associated with the actor."
                          },
                          "starterPacks": {
                            "type": "integer",
                            "description": "Number of starter packs associated with the actor."
                          },
                          "labeler": {
                            "type": "boolean",
                            "description": "Indicates if the actor is a labeler."
                          },
                          "chat": {
                            "type": "object",
                            "description": "Chat preferences for the actor.",
                            "properties": {
                              "allowIncoming": {
                                "type": "string",
                                "description": "Specifies if incoming chats are allowed."
                              }
                            }
                          }
                        }
                      },
                      "viewer": {
                        "type": "object",
                        "description": "Viewer-specific metadata for the actor.",
                        "properties": {
                          "muted": {
                            "type": "boolean",
                            "description": "Indicates if the actor is muted by the viewer."
                          },
                          "mutedByList": {
                            "$ref": "#/definitions/MutedByList"
                          },
                          "blockedBy": {
                            "type": "boolean",
                            "description": "Indicates if the actor is blocked by the viewer."
                          },
                          "blocking": {
                            "type": "string",
                            "description": "Details of the block, if applicable."
                          },
                          "blockingByList": {
                            "$ref": "#/definitions/BlockingByList"
                          },
                          "following": {
                            "type": "string",
                            "description": "Indicates if the viewer is following the actor."
                          },
                          "followedBy": {
                            "type": "string",
                            "description": "Indicates if the actor is following the viewer."
                          },
                          "knownFollowers": {
                            "type": "object",
                            "description": "Known followers of the actor.",
                            "properties": {
                              "count": {
                                "type": "integer",
                                "description": "Total number of known followers."
                              },
                              "followers": {
                                "type": "array",
                                "description": "List of known followers.",
                                "items": {
                                  "$ref": "#/definitions/profileView"
                                }
                              }
                            }
                          }
                        }
                      },
                      "labels": {
                        "type": "array",
                        "description": "Labels associated with the actor.",
                        "items": {
                          "$ref": "#/definitions/Label"
                        }
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp of the actor's profile creation."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.describeFeedGenerator": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get information about a feed",
        "x-ms-summary": "Get information about a feed generator",
        "description": "Get information about a feed generator.",
        "operationId": "DescribeFeedGenerator",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "did",
                "feeds"
              ],
              "properties": {
                "did": {
                  "type": "string"
                },
                "feeds": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/describeFeedGeneratorFeed"
                  }
                },
                "links": {
                  "$ref": "#/definitions/describeFeedGeneratorLinks"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getActorFeeds": {
      "get": {
        "tags": [
          "feed"
        ],
        "summary": "Get Actor Feeds",
        "x-ms-summary": "Fetch feeds created by an actor.",
        "description": "Get a list of feeds created by the actor.",
        "operationId": "getActorFeeds",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "The handle or DID of the actor whose feeds are to be retrieved.",
            "x-ms-summary": "Actor Identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of feeds to return (default: 50, max: 100).",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50,
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for retrieving the next set of results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Feeds retrieved successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Cursor for pagination."
                },
                "feeds": {
                  "type": "array",
                  "items": {
                    "x-ms-dynamic-schema": {
                      "operationId": "getActorFeeds",
                      "value-path": "feeds",
                      "parameters": {
                        "actor": "{actor}"
                      }
                    }
                  },
                  "description": "List of feeds created by the actor."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getActorLikes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get a list of posts liked by an actor",
        "x-ms-summary": "Get a list of posts liked by an actor",
        "description": "Get a list of posts liked by an actor.",
        "operationId": "GetActorLikes",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "required": true,
            "x-ms-summary": "Actor Identifier",
            "description": "Identifier of the actor whose likes are being retrieved.",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-ms-summary": "Result Limit",
            "description": "Maximum number of results to return.",
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "x-ms-summary": "Pagination Cursor",
            "description": "Cursor for pagination.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "feed"
              ],
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Cursor for the next page of results."
                },
                "feed": {
                  "type": "array",
                  "description": "List of posts liked by the actor.",
                  "items": {
                    "$ref": "#/definitions/feedViewPost"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken",
                    "BlockedActor",
                    "BlockedByActor"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getAuthorFeed": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Author Feed",
        "description": "Get a view of an actor's 'author feed.'",
        "operationId": "GetAuthorFeed",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "The identifier of the actor whose author feed to fetch.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to fetch.",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50,
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for fetching the next set of results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination curose"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Combinations of post/repost types to include in response.",
            "required": false,
            "type": "string",
            "enum": [
              "posts_with_replies",
              "posts_no_replies",
              "posts_with_media",
              "posts_and_author_threads"
            ],
            "default": "posts_with_replies",
            "x-ms-summary": "Filter criteria"
          },
          {
            "name": "includePins",
            "in": "query",
            "description": "Whether to include pinned posts in the response.",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Include pinned posts"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched the author's feed.",
            "schema": {
              "type": "object",
              "required": [
                "feed"
              ],
              "properties": {
                "cursor": {
                  "type": "string"
                },
                "feed": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/feedViewPost"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input or blocked actor.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken",
                    "BlockedActor",
                    "BlockedByActor"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeed": {
      "get": {
        "tags": [
          "feed"
        ],
        "summary": "Get Feed",
        "x-ms-summary": "Retrieve a hydrated feed.",
        "description": "Get a hydrated feed from an actor's selected feed generator.",
        "operationId": "getFeed",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "query",
            "description": "The URI of the feed generator.",
            "x-ms-summary": "Feed Generator URI",
            "required": true,
            "type": "string"
          },
          {
            "name": "actor",
            "in": "query",
            "description": "The handle or DID of the actor requesting the feed.",
            "x-ms-summary": "Actor identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of posts to return (default: 50, max: 100).",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50,
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for retrieving the next set of results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed retrieved successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Cursor for pagination."
                },
                "feed": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-ms-dynamic-schema": {
                      "operationId": "getFeed",
                      "value-path": "feed",
                      "parameters": {
                        "feed": "{feed}",
                        "actor": "{actor}"
                      }
                    }
                  },
                  "description": "Array of posts in the feed."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeedGenerator": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed Generator Information",
        "x-ms-summary": "Retrieve details about a feed generator.",
        "description": "Get information about a feed generator.",
        "operationId": "GetFeedGenerator",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "query",
            "x-ms-summary": "Feed Generator AT-URI",
            "description": "AT-URI of the feed generator record.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed generator details retrieved successfully.",
            "schema": {
              "type": "object",
              "required": [
                "view",
                "isOnline",
                "isValid"
              ],
              "properties": {
                "view": {
                  "$ref": "#/definitions/generatorView"
                },
                "isOnline": {
                  "type": "boolean",
                  "description": "Indicates whether the feed generator service has been online recently."
                },
                "isValid": {
                  "type": "boolean",
                  "description": "Indicates whether the feed generator service is compatible with the record declaration."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ],
                  "description": "Error code indicating the type of failure."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ],
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeedGenerators": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed Generators Information",
        "x-ms-summary": "Retrieve details about multiple feed generators.",
        "description": "Get information about a list of feed generators.",
        "operationId": "GetFeedGenerators",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "feeds",
            "in": "query",
            "x-ms-summary": "List of Feed Generator AT-URIs",
            "description": "A list of AT-URIs representing the feed generators to retrieve information for.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feed generator details retrieved successfully.",
            "schema": {
              "type": "object",
              "required": [
                "feeds"
              ],
              "properties": {
                "feeds": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/generatorView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ],
                  "description": "Error code indicating the type of failure."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ],
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getFeedSkeleton": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed Skeleton",
        "x-ms-summary": "Retrieve a skeleton of a feed from a generator.",
        "description": "Get a skeleton of a feed provided by a feed generator.",
        "operationId": "GetFeedSkeleton",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "query",
            "description": "Reference to feed generator record describing the specific feed being requested.",
            "x-ms-summary": "Feed generator reference.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Number of results to retrieve.",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50,
            "description": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Pagination cursor.",
            "required": false,
            "type": "string",
            "description": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "feed"
              ],
              "properties": {
                "cursor": {
                  "type": "string"
                },
                "feed": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/skeletonFeedPost"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken",
                    "UnknownFeed"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getLikes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Likes",
        "x-ms-summary": "Get like records referencing a subject.",
        "description": "Get like records which reference a subject (by AT-URI and CID).",
        "operationId": "GetLikes",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "description": "AT-URI of the subject (e.g., a post record).",
            "x-ms-summary": "AT-URI of the subject.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cid",
            "in": "query",
            "description": "CID of the subject record (specific version of record), to filter likes.",
            "x-ms-summary": "CID of the subject record.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit number of results.",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50,
            "description": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Pagination cursor.",
            "required": false,
            "type": "string",
            "description": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "uri",
                "likes"
              ],
              "properties": {
                "uri": {
                  "type": "string"
                },
                "cid": {
                  "type": "string"
                },
                "cursor": {
                  "type": "string"
                },
                "likes": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/getLikesLike"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getListFeed": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get List Feed",
        "x-ms-summary": "Get List Feed",
        "description": "Get a feed of recent posts from a list.",
        "operationId": "GetListFeed",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "list",
            "in": "query",
            "x-ms-summary": "List Reference",
            "description": "Reference (AT-URI) to the list record.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Result Limit",
            "description": "Maximum number of posts to retrieve.",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Pagination Cursor",
            "description": "Optional pagination mechanism.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "feed"
              ],
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next set of results."
                },
                "feed": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/feedViewPost"
                  },
                  "description": "Array of posts in the feed."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken",
                    "UnknownList"
                  ],
                  "description": "Error code indicating the type of failure."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ],
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getPosts": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Posts",
        "x-ms-summary": "Retrieve post views for specified posts.",
        "description": "Gets post views for a specified list of posts.",
        "operationId": "GetPosts",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uris",
            "in": "query",
            "description": "List of post AT-URIs to return hydrated views for.",
            "x-ms-summary": "Post AT-URIs",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 25
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "posts"
              ],
              "properties": {
                "posts": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/postView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getPostThread": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Post Thread",
        "x-ms-summary": "Retrieve posts in a thread.",
        "description": "Get posts in a thread.",
        "operationId": "GetPostThread",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "x-ms-summary": "Post AT-URI",
            "description": "Reference (AT-URI) to post record.",
            "required": true,
            "type": "string"
          },
          {
            "name": "depth",
            "in": "query",
            "x-ms-summary": "Reply Depth",
            "description": "How many levels of reply depth should be included in response.",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "maximum": 1000,
            "default": 6
          },
          {
            "name": "parentHeight",
            "in": "query",
            "x-ms-summary": "Parent Post Levels",
            "description": "How many levels of parent (and grandparent, etc) post to include.",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "maximum": 1000,
            "default": 80
          }
        ],
        "responses": {
          "200": {
            "description": "Thread details retrieved successfully.",
            "schema": {
              "type": "object",
              "required": [
                "thread"
              ],
              "properties": {
                "thread": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "found",
                        "notFound",
                        "blocked"
                      ]
                    }
                  },
                  "description": "Thread details for the requested post."
                },
                "threadgate": {
                  "$ref": "#/definitions/threadgateView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken",
                    "NotFound"
                  ],
                  "description": "Error code indicating the type of failure."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ],
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getQuotes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Quotes",
        "x-ms-summary": "Get Quotes",
        "description": "Get a list of quotes for a given post.",
        "operationId": "GetQuotes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "x-ms-summary": "Post Reference URI",
            "description": "Reference (AT-URI) of the post record.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cid",
            "in": "query",
            "x-ms-summary": "Specific Version CID",
            "description": "If supplied, filters to quotes of specific version (by CID) of the post record.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Result Limit",
            "description": "Maximum number of quotes to retrieve.",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Pagination Cursor",
            "description": "Optional pagination mechanism.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "uri",
                "posts"
              ],
              "properties": {
                "uri": {
                  "type": "string",
                  "description": "Reference (AT-URI) of the post record."
                },
                "cid": {
                  "type": "string",
                  "description": "Specific version (CID) of the post record."
                },
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next set of results."
                },
                "posts": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/postView"
                  },
                  "description": "Array of post views for quotes."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ],
                  "description": "Error code indicating the type of failure."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ],
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getRepostedBy": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Reposted By",
        "x-ms-summary": "Get Reposted By",
        "description": "Get a list of reposts for a given post.",
        "operationId": "GetRepostedBy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "x-ms-summary": "Post Reference URI",
            "description": "Reference (AT-URI) of the post record.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cid",
            "in": "query",
            "x-ms-summary": "Specific Version CID",
            "description": "If supplied, filters to reposts of specific version (by CID) of the post record.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Result Limit",
            "description": "Maximum number of reposts to retrieve.",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Pagination Cursor",
            "description": "Optional pagination mechanism.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "uri",
                "repostedBy"
              ],
              "properties": {
                "uri": {
                  "type": "string",
                  "description": "Reference (AT-URI) of the post record."
                },
                "cid": {
                  "type": "string",
                  "description": "Specific version (CID) of the post record."
                },
                "cursor": {
                  "type": "string",
                  "description": "Pagination cursor for the next set of results."
                },
                "repostedBy": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/profileView"
                  },
                  "description": "Array of profiles who reposted the post."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ],
                  "description": "Error code indicating the type of failure."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ],
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getSuggestedFeeds": {
      "get": {
        "tags": [
          "feed"
        ],
        "summary": "Get Suggested Feeds",
        "x-ms-summary": "Fetch suggested feeds for the account.",
        "description": "Retrieve a list of suggested feeds for the requesting account.",
        "operationId": "getSuggestedFeeds",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of suggested feeds to return (default: 50, max: 100).",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50,
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for retrieving the next set of results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Suggested feeds retrieved successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Cursor for pagination."
                },
                "feeds": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-ms-dynamic-schema": {
                      "operationId": "getSuggestedFeeds",
                      "value-path": "feeds"
                    }
                  },
                  "description": "List of suggested feeds for the account."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.getTimeline": {
      "get": {
        "tags": [
          "feed"
        ],
        "summary": "Get Timeline",
        "x-ms-summary": "Retrieve home timeline.",
        "description": "Get a view of the requesting account's home timeline.",
        "operationId": "getTimeline",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "algorithm",
            "in": "query",
            "description": "Variant 'algorithm' for the timeline.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Algorithm variant"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of posts to return (default: 50, max: 100).",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50,
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for retrieving the next set of results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Timeline retrieved successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Cursor for pagination."
                },
                "feed": {
                  "type": "array",
                  "items": {
                    "x-ms-dynamic-schema": {
                      "operationId": "getTimeline",
                      "value-path": "feed"
                    }
                  },
                  "description": "Array of posts in the timeline."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.searchPosts": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Search Posts",
        "x-ms-summary": "Find posts matching search criteria.",
        "description": "Find posts matching search criteria, returning views of those posts.",
        "operationId": "SearchPosts",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Query",
            "description": "Search query string.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort Order",
            "description": "Specifies the ranking order of results.",
            "required": false,
            "type": "string",
            "default": "latest",
            "enum": [
              "top",
              "latest"
            ]
          },
          {
            "name": "since",
            "in": "query",
            "x-ms-summary": "Since Datetime",
            "description": "Filter results for posts after the indicated datetime (inclusive).",
            "required": false,
            "type": "string"
          },
          {
            "name": "until",
            "in": "query",
            "x-ms-summary": "Until Datetime",
            "description": "Filter results for posts before the indicated datetime (not inclusive).",
            "required": false,
            "type": "string"
          },
          {
            "name": "mentions",
            "in": "query",
            "x-ms-summary": "Mentions Account",
            "description": "Filter to posts which mention the given account.",
            "required": false,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "x-ms-summary": "Author Account",
            "description": "Filter to posts by the given account. Handles are resolved to DID before query-time.",
            "required": false,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "x-ms-summary": "Language Filter",
            "description": "Filter to posts in the given language.",
            "required": false,
            "type": "string"
          },
          {
            "name": "domain",
            "in": "query",
            "x-ms-summary": "Domain Filter",
            "description": "Filter to posts with URLs.",
            "required": false,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "x-ms-summary": "URL Filter",
            "description": "Filter to posts with links.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "x-ms-summary": "Hashtag Filter",
            "description": "Filter to posts with the given tag (hashtag).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 640
            }
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Result Limit",
            "description": "Maximum number of results to return.",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 25
          },
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Pagination Cursor",
            "description": "Optional pagination mechanism.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Posts retrieved successfully.",
            "schema": {
              "type": "object",
              "required": [
                "posts"
              ],
              "properties": {
                "cursor": {
                  "type": "string"
                },
                "hitsTotal": {
                  "type": "integer"
                },
                "posts": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/postView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken",
                    "BadQueryString"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.feed.sendInteractions": {
      "post": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Send Interactions",
        "x-ms-summary": "Send information about interactions.",
        "description": "Send information about interactions.",
        "operationId": "SendInteractions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Interactions Payload",
            "description": "Payload containing interactions to send.",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "interactions"
              ],
              "properties": {
                "interactions": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/interaction"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Interactions sent successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "_unknown_": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "AuthMissing"
                  ]
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getActorStarterPacks": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get a list of starter packs created by the actor",
        "x-ms-summary": "Get Actor Starter Packs",
        "description": "Get a list of starter packs created by the actor.",
        "operationId": "GetActorStarterPacks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "required": true,
            "x-ms-summary": "Actor Identifier",
            "description": "The actor identifier for which to retrieve starter packs.",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "x-ms-summary": "Result Limit",
            "description": "The maximum number of starter packs to return.",
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "x-ms-summary": "Pagination Cursor",
            "description": "Cursor for pagination to fetch the next set of results.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "starterPacks"
              ],
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Cursor for pagination."
                },
                "starterPacks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/starterPackViewBasic"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getFollowers": {
      "get": {
        "tags": [
          "graph"
        ],
        "summary": "Get Followers",
        "x-ms-summary": "Retrieve accounts following a specified actor.",
        "description": "Enumerate accounts that follow a specified actor.",
        "operationId": "getFollowers",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "The handle or DID of the actor whose followers are being retrieved.",
            "required": true,
            "x-ms-summary": "Actor Identifier",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of followers to return (default: 50, max: 100).",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50,
            "x-ms-summary": "Pagination Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for retrieving the next set of results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pagination Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Followers retrieved successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "subject": {
                  "type": "object",
                  "description": "Profile details of the actor whose followers are retrieved.",
                  "x-ms-dynamic-schema": {
                    "operationId": "getFollowers",
                    "value-path": "subject",
                    "parameters": {
                      "actor": "{actor}"
                    }
                  }
                },
                "cursor": {
                  "type": "string",
                  "description": "Cursor for pagination."
                },
                "followers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-ms-dynamic-schema": {
                      "operationId": "getFollowers",
                      "value-path": "followers",
                      "parameters": {
                        "actor": "{actor}"
                      }
                    }
                  },
                  "description": "List of accounts following the specified actor."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getFollows": {
      "get": {
        "tags": [
          "graph"
        ],
        "summary": "Get Follows",
        "x-ms-summary": "Retrieve accounts followed by a specified actor.",
        "description": "Enumerates accounts that a specified actor follows.",
        "operationId": "getFollows",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "The handle or DID of the actor whose follows are being retrieved.",
            "x-ms-summary": "Actor Identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of accounts to return (default: 50, max: 100).",
            "x-ms-summary": "Maximum Accounts to Retrieve",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for retrieving the next set of results.",
            "x-ms-summary": "Pagination Cursor",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Follows retrieved successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "subject": {
                  "x-ms-dynamic-schema": {
                    "operationId": "getFollows",
                    "parameters": {
                      "actor": "{actor}"
                    },
                    "value-path": "subject"
                  },
                  "description": "Profile details of the actor whose follows are retrieved."
                },
                "cursor": {
                  "type": "string",
                  "description": "Cursor for pagination."
                },
                "follows": {
                  "type": "array",
                  "items": {
                    "x-ms-dynamic-schema": {
                      "operationId": "getFollows",
                      "parameters": {
                        "actor": "{actor}"
                      },
                      "value-path": "follows"
                    },
                    "description": "List of accounts followed by the specified actor."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getKnownFollowers": {
      "get": {
        "tags": [
          "graph"
        ],
        "summary": "Get Known Followers",
        "x-ms-summary": "Retrieve known followers of an account.",
        "description": "Retrieve followers for a specific account that are also followed by the viewer.",
        "operationId": "getKnownFollowers",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "description": "The handle or DID of the actor whose followers are being retrieved.",
            "x-ms-summary": "Actor Identifier",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of followers to return (default: 50, max: 100).",
            "x-ms-summary": "Followers Limit",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for retrieving the next set of results.",
            "x-ms-summary": "Pagination Cursor",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Known followers retrieved successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "subject": {
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "getKnownFollowers",
                    "parameters": {
                      "actor": "{actor}"
                    },
                    "value-path": "subject"
                  },
                  "description": "Profile details of the subject actor."
                },
                "cursor": {
                  "type": "string",
                  "description": "Cursor for pagination."
                },
                "followers": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/profileViewBasic"
                  },
                  "description": "List of followers who are also followed by the viewer."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getList": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get List View",
        "x-ms-summary": "Retrieve a view with additional context of a specific list.",
        "description": "Gets a 'view' (with additional context) of a specified list.",
        "operationId": "GetList",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "list",
            "in": "query",
            "x-ms-summary": "List Reference",
            "description": "Reference (AT-URI) of the list record to hydrate.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit Results",
            "description": "The maximum number of results to return.",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Cursor for Pagination",
            "description": "Cursor to retrieve the next set of results.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "list",
                "items"
              ],
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Cursor for the next set of results."
                },
                "list": {
                  "$ref": "#/definitions/listView"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/listItemView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getListBlocks": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Blocked Lists",
        "x-ms-summary": "Retrieve moderation lists blocked by the requesting account.",
        "description": "Get mod lists that the requesting account (actor) is blocking.",
        "operationId": "GetListBlocks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit Results",
            "description": "Maximum number of results to return.",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Pagination Cursor",
            "description": "Cursor to retrieve the next set of results.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "lists"
              ],
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Cursor for the next set of results."
                },
                "lists": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/listView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getListMutes": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Muted Lists",
        "x-ms-summary": "Retrieve moderation lists muted by the requesting account.",
        "description": "Get mod lists that the requesting account currently has muted.",
        "operationId": "GetListMutes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit Results",
            "description": "Maximum number of results to return.",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Pagination Cursor",
            "description": "Cursor to retrieve the next set of results.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "lists"
              ],
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Cursor for the next set of results."
                },
                "lists": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/listView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/xrpc/app.bsky.graph.getLists": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Lists",
        "x-ms-summary": "Retrieve the lists created by a specified account.",
        "description": "Enumerates the lists created by a specified account.",
        "operationId": "GetLists",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "x-ms-summary": "Account Identifier",
            "description": "The account (actor) to enumerate lists from.",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit Results",
            "description": "Maximum number of results to return.",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "x-ms-summary": "Pagination Cursor",
            "description": "Cursor to retrieve the next set of results.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "lists"
              ],
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Cursor for the next set of results."
                },
                "lists": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/listView"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
[...]
