{
  "swagger": "2.0",
  "info": {
    "title": "Bluesky Social",
    "description": "Specification for the Bluesky Social endpoints",
    "contact": {
      "name": "Dan Romano",
      "email": "dan.romano@swolcat.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/mit/"
    },
    "version": "1.0"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.bsky.app/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://example.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social Media"
    }
  ],
  "host": "bsky.social",
  "basePath": "/xrpc",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/app.bsky.feed.getActorLikes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Actor Likes",
        "description": "Retrieves a list of posts liked by a specific actor (user) within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "getActorLikes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor whose likes are being retrieved.",
            "x-ms-summary": "Actor ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of liked posts to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of posts liked by the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "likes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "postId": {
                        "type": "string",
                        "description": "The unique identifier of the liked post."
                      },
                      "likedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the post was liked."
                      },
                      "content": {
                        "type": "object",
                        "description": "The content of the liked post.",
                        "properties": {
                          "text": {
                            "type": "string",
                            "description": "The text content of the post."
                          },
                          "media": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of media (e.g., image, video)."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL of the media."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified actor does not exist or has no liked posts.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.actor.getPreferences": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Actor Preferences",
        "description": "Retrieves the preferences for a specific actor (user) within the Bluesky network. This endpoint is part of the `app.bsky.actor` namespace and requires authentication.",
        "operationId": "getPreferences",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor whose preferences are being retrieved.",
            "x-ms-summary": "Actor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the preferences for the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "preferences": {
                  "type": "object",
                  "description": "An object containing various preferences for the actor."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified actor does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.video.uploadVideo": {
      "post": {
        "tags": [
          "app.bsky.video"
        ],
        "summary": "Upload Video",
        "description": "Uploads a video file for processing and sharing within the Bluesky platform. This endpoint is part  of the Bluesky application Lexicon APIs (`app.bsky.*`) and requires authentication. For more details,  see the [API Hosts and Auth guide](https://docs.bsky.app/docs/advanced-guides/api-directory).\n",
        "operationId": "uploadVideo",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "The video file to be uploaded.",
            "x-ms-summary": "Video file"
          },
          {
            "name": "title",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Title of the video.",
            "x-ms-summary": "Video title"
          },
          {
            "name": "description",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Description of the video content.",
            "x-ms-summary": "Video description"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully uploaded the video.",
            "schema": {
              "type": "object",
              "properties": {
                "videoId": {
                  "type": "string",
                  "description": "Unique identifier for the uploaded video."
                },
                "status": {
                  "type": "string",
                  "description": "The status of the video upload (e.g., pending, processing)."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/app.bsky.video.getUploadLimits": {
      "get": {
        "tags": [
          "app.bsky.video"
        ],
        "summary": "Get Video Upload Limits",
        "description": "Retrieves the video upload limits for the authenticated user, including maximum file size  and supported formats. This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`)  and typically requires authentication. For more details, see the  [API Hosts and Auth guide](https://docs.bsky.app/docs/advanced-guides/api-directory).\n",
        "operationId": "getVideoUploadLimits",
        "responses": {
          "200": {
            "description": "Successfully retrieved video upload limits.",
            "schema": {
              "type": "object",
              "properties": {
                "maxFileSize": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Maximum file size for video uploads in bytes."
                },
                "supportedFormats": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of supported video formats (e.g., mp4, mov)."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/app.bsky.video.getJobStatus": {
      "get": {
        "tags": [
          "app.bsky.video"
        ],
        "summary": "Get Video Job Status",
        "description": "Retrieves the status of a video processing job by job ID. This endpoint is part of the  Bluesky application Lexicon APIs (`app.bsky.*`) and typically requires authentication. For more details, see the  [API Hosts and Auth guide](https://docs.bsky.app/docs/advanced-guides/api-directory).\n",
        "operationId": "getVideoJobStatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the video job whose status is being retrieved.",
            "x-ms-summary": "Video job identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved video job status.",
            "schema": {
              "type": "object",
              "properties": {
                "jobId": {
                  "type": "string",
                  "description": "The unique identifier of the video job."
                },
                "status": {
                  "type": "string",
                  "description": "The current status of the job (e.g., pending, processing, completed)."
                },
                "progress": {
                  "type": "number",
                  "format": "float",
                  "description": "Progress percentage of the job."
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error message if the job has failed."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/app.bsky.notification.getUnreadCount": {
      "get": {
        "tags": [
          "app.bsky.notification"
        ],
        "summary": "Get Unread Notification Count",
        "description": "Retrieves the count of unread notifications for the authenticated user. This endpoint is part  of the Bluesky application Lexicon APIs (`app.bsky.*`) and typically requires authentication. For more details, see the  [API Hosts and Auth guide](https://docs.bsky.app/docs/advanced-guides/api-directory).\n",
        "operationId": "getUnreadNotificationCount",
        "responses": {
          "200": {
            "description": "Successfully retrieved unread notification count.",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of unread notifications."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/app.bsky.labeler.getServices": {
      "get": {
        "tags": [
          "app.bsky.labeler"
        ],
        "summary": "Get Labeler Services",
        "description": "Retrieves a list of labeler services available within the Bluesky application. Labeler services  provide content labeling features. This endpoint is part of the Bluesky application Lexicon APIs  (`app.bsky.*`) and may require authentication based on the specific setup. For more details,  see the [API Hosts and Auth guide](https://docs.bsky.app/docs/advanced-guides/api-directory).\n",
        "operationId": "getLabelerServices",
        "responses": {
          "200": {
            "description": "Successfully retrieved list of labeler services.",
            "schema": {
              "type": "object",
              "properties": {
                "services": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/LabelerService"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/app.bsky.graph.muteThread": {
      "post": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Mute Thread",
        "description": "Mutes a specific thread for an actor, preventing notifications and visibility in feeds.  This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`) and typically  requires authentication. For further details, see the  [API Hosts and Auth guide](https://docs.bsky.app/docs/advanced-guides/api-directory).\n",
        "operationId": "muteThread",
        "parameters": [
          {
            "name": "thread",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier (URI) of the thread to mute.",
            "x-ms-summary": "Thread URI"
          },
          {
            "name": "actor",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The DID or handle of the actor muting the thread.",
            "x-ms-summary": "Actor identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully muted the specified thread.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the thread was successfully muted."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/app.bsky.graph.getStarterPacks": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Starter Packs",
        "description": "Retrieves a list of available starter packs, which are curated sets of users for the actor to consider following. This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`) and typically requires authentication. For further details, see the  [API Hosts and Auth guide](https://docs.bsky.app/docs/advanced-guides/api-directory).\n",
        "operationId": "getStarterPacks",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of starter packs to retrieve.",
            "x-ms-summary": "Starter packs limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results, provided by the previous response.",
            "x-ms-summary": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of starter packs.",
            "schema": {
              "type": "object",
              "properties": {
                "starterPacks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/StarterPack"
                  }
                },
                "cursor": {
                  "type": "string",
                  "description": "Cursor for the next set of results, if available."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/app.bsky.graph.getStarterPack": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Starter Pack",
        "description": "Retrieves details of a specific starter pack, which includes a curated set of users for the  actor to follow. This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`)  and typically requires authentication. For further details, see the  [API Hosts and Auth guide](https://docs.bsky.app/docs/advanced-guides/api-directory).\n",
        "operationId": "getStarterPack",
        "parameters": [
          {
            "name": "pack",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the starter pack to retrieve.",
            "x-ms-summary": "Starter pack identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the starter pack.",
            "schema": {
              "type": "object",
              "properties": {
                "packId": {
                  "type": "string",
                  "description": "Unique identifier of the starter pack."
                },
                "title": {
                  "type": "string",
                  "description": "Title of the starter pack."
                },
                "description": {
                  "type": "string",
                  "description": "Description of the starter pack."
                },
                "users": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/User"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/app.bsky.graph.getKnownFollowers": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Known Followers",
        "description": "Retrieves a list of known followers for a specific actor. This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`) and typically requires authentication. For  further details, see the  [API Hosts and Auth guide](https://docs.bsky.app/docs/advanced-guides/api-directory).\n",
        "operationId": "getKnownFollowers",
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The DID or handle of the actor whose known followers are being retrieved.",
            "x-ms-summary": "Actor identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of known followers to retrieve.",
            "x-ms-summary": "Followers limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results, provided by the previous response.",
            "x-ms-summary": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of known followers for the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "followers": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/User"
                  }
                },
                "cursor": {
                  "type": "string",
                  "description": "Cursor for the next set of results, if available."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/app.bsky.actor.getProfile": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Actor Profile",
        "description": "Retrieves the profile information for a specific actor (user) within the Bluesky network. This endpoint is part of the `app.bsky.actor` namespace and requires authentication.",
        "operationId": "getProfile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor whose profile is being retrieved.",
            "x-ms-summary": "Actor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the profile information for the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "profile": {
                  "type": "object",
                  "description": "An object containing profile details for the actor.",
                  "properties": {
                    "displayName": {
                      "type": "string",
                      "description": "The display name of the actor."
                    },
                    "bio": {
                      "type": "string",
                      "description": "The bio or description of the actor."
                    },
                    "location": {
                      "type": "string",
                      "description": "The location of the actor."
                    },
                    "website": {
                      "type": "string",
                      "description": "The website URL associated with the actor."
                    },
                    "avatarUrl": {
                      "type": "string",
                      "description": "URL of the actor's avatar image."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified actor does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.graph.getActorStarterPacks": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Actor Starter Packs",
        "description": "Retrieves a list of starter packs for a specific actor, which are curated sets of users that the actor may want to follow. This endpoint is part of the Bluesky application Lexicon APIs  (`app.bsky.*`) and typically requires authentication. For further details, see the  [API Hosts and Auth guide](https://docs.bsky.app/docs/advanced-guides/api-directory).\n",
        "operationId": "getActorStarterPacks",
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The DID or handle of the actor for whom starter packs are being retrieved.",
            "x-ms-summary": "Actor identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of starter packs to retrieve.",
            "x-ms-summary": "Starter pack limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results, provided by the previous response.",
            "x-ms-summary": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved starter packs for the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "starterPacks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/StarterPack"
                  }
                },
                "cursor": {
                  "type": "string",
                  "description": "Cursor for the next set of results, if available."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/app.bsky.actor.getProfiles": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Multiple Actor Profiles",
        "description": "Retrieves profile information for multiple actors within the Bluesky network. This endpoint is part of the `app.bsky.actor` namespace and requires authentication.",
        "operationId": "getProfiles",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actorIds",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of unique identifiers for the actors whose profiles are being retrieved.",
            "x-ms-summary": "Actor IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved profile information for the specified actors.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "profile": {
                    "type": "object",
                    "description": "An object containing profile details for each actor.",
                    "properties": {
                      "actorId": {
                        "type": "string",
                        "description": "The unique identifier of the actor."
                      },
                      "displayName": {
                        "type": "string",
                        "description": "The display name of the actor."
                      },
                      "bio": {
                        "type": "string",
                        "description": "The bio or description of the actor."
                      },
                      "location": {
                        "type": "string",
                        "description": "The location of the actor."
                      },
                      "website": {
                        "type": "string",
                        "description": "The website URL associated with the actor."
                      },
                      "avatarUrl": {
                        "type": "string",
                        "description": "URL of the actor's avatar image."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - One or more of the specified actors do not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.sendInteractions": {
      "post": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Send Interactions",
        "description": "Sends user interactions, such as likes or reposts, for a specified post within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "sendInteractions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "interactions",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "postId": {
                    "type": "string",
                    "description": "The unique identifier of the post being interacted with."
                  },
                  "interactionType": {
                    "type": "string",
                    "enum": [
                      "like",
                      "repost",
                      "comment"
                    ],
                    "description": "The type of interaction being performed."
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The timestamp of the interaction."
                  }
                }
              }
            },
            "description": "An array of interactions to be sent.",
            "x-ms-summary": "Interactions Data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully recorded the interactions.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Confirmation message for the successful operation."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getQuotes": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Quotes",
        "description": "Retrieves a list of posts quoting a specific post within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "getQuotes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the post being quoted.",
            "x-ms-summary": "Post ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of quotes to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of quotes for the specified post.",
            "schema": {
              "type": "object",
              "properties": {
                "quotes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "postId": {
                        "type": "string",
                        "description": "The unique identifier of the quoting post."
                      },
                      "authorId": {
                        "type": "string",
                        "description": "The unique identifier of the author of the quoting post."
                      },
                      "content": {
                        "type": "object",
                        "description": "The content of the quoting post."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.actor.getSuggestions": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Get Actor Suggestions",
        "description": "Retrieves a list of suggested actors (users) within the Bluesky network based on the current user's profile and interests. This endpoint is part of the `app.bsky.actor` namespace and requires authentication.",
        "operationId": "getSuggestions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of suggested actors to retrieve.",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of suggested actors.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "actorId": {
                    "type": "string",
                    "description": "The unique identifier of the suggested actor."
                  },
                  "displayName": {
                    "type": "string",
                    "description": "The display name of the suggested actor."
                  },
                  "bio": {
                    "type": "string",
                    "description": "The bio or description of the suggested actor."
                  },
                  "location": {
                    "type": "string",
                    "description": "The location of the suggested actor."
                  },
                  "website": {
                    "type": "string",
                    "description": "The website URL associated with the suggested actor."
                  },
                  "avatarUrl": {
                    "type": "string",
                    "description": "URL of the suggested actor's avatar image."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.actor.putPreferences": {
      "put": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Update Actor Preferences",
        "description": "Updates the preferences for a specific actor (user) within the Bluesky network. This endpoint is part of the `app.bsky.actor` namespace and requires authentication.",
        "operationId": "putPreferences",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor whose preferences are being updated.",
            "x-ms-summary": "Actor ID"
          },
          {
            "name": "preferences",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string",
                  "description": "The display name of the actor."
                },
                "bio": {
                  "type": "string",
                  "description": "The bio or description of the actor."
                },
                "preferences": {
                  "type": "object",
                  "description": "An object containing updated preferences for the actor."
                }
              }
            },
            "description": "An object containing the preferences to update for the actor.",
            "x-ms-summary": "Preferences Data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the preferences for the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Confirmation message for the successful update."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified actor does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getFeedSkeleton": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed Skeleton",
        "description": "Retrieves the skeleton structure of a feed for a specific generator within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "getFeedSkeleton",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generatorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the feed generator.",
            "x-ms-summary": "Feed Generator ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of items to retrieve in the skeleton feed.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the feed skeleton for the specified generator.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "itemId": {
                    "type": "string",
                    "description": "The unique identifier of the item in the skeleton feed."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.notification.registerPush": {
      "post": {
        "tags": [
          "app.bsky.notification"
        ],
        "summary": "Register Push Notification",
        "description": "Registers a device for receiving push notifications for the authenticated user. This endpoint is part  of the Bluesky application Lexicon APIs (`app.bsky.*`) and requires authentication. For more details,  see the [API Hosts and Auth guide](https://docs.bsky.app/docs/advanced-guides/api-directory).\n",
        "operationId": "registerPushNotification",
        "parameters": [
          {
            "name": "deviceToken",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "description": "The push notification token provided by the device.",
                  "x-ms-summary": "Device token"
                },
                "platform": {
                  "type": "string",
                  "description": "The platform of the device (e.g., iOS, Android).",
                  "x-ms-summary": "Device platform"
                },
                "enableNotifications": {
                  "type": "boolean",
                  "description": "Enable or disable push notifications for this device.",
                  "x-ms-summary": "Push notifications preference"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully registered the device for push notifications.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the device was successfully registered for push notifications."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/app.bsky.actor.searchActors": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Search Actors",
        "description": "Searches for actors (users) within the Bluesky network based on a search query. This endpoint is part of the `app.bsky.actor` namespace and requires authentication.",
        "operationId": "searchActors",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The search query to find actors.",
            "x-ms-summary": "Search Query"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of search results to retrieve.",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved search results for actors matching the query.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "actorId": {
                    "type": "string",
                    "description": "The unique identifier of the actor."
                  },
                  "displayName": {
                    "type": "string",
                    "description": "The display name of the actor."
                  },
                  "bio": {
                    "type": "string",
                    "description": "The bio or description of the actor."
                  },
                  "location": {
                    "type": "string",
                    "description": "The location of the actor."
                  },
                  "website": {
                    "type": "string",
                    "description": "The website URL associated with the actor."
                  },
                  "avatarUrl": {
                    "type": "string",
                    "description": "URL of the actor's avatar image."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.actor.searchActorsTypeahead": {
      "get": {
        "tags": [
          "app.bsky.actor"
        ],
        "summary": "Search Actors Typeahead",
        "description": "Provides typeahead suggestions for actors (users) within the Bluesky network based on a partial search query. This endpoint is part of the `app.bsky.actor` namespace and requires authentication.",
        "operationId": "searchActorsTypeahead",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The partial search query to find actors.",
            "x-ms-summary": "Search Query"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of typeahead suggestions to retrieve.",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved typeahead suggestions for actors matching the query.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "actorId": {
                    "type": "string",
                    "description": "The unique identifier of the suggested actor."
                  },
                  "displayName": {
                    "type": "string",
                    "description": "The display name of the suggested actor."
                  },
                  "avatarUrl": {
                    "type": "string",
                    "description": "URL of the suggested actor's avatar image."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getRepostedBy": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Reposted By",
        "description": "Retrieves a list of users who reposted a specific post within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "getRepostedBy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the post being reposted.",
            "x-ms-summary": "Post ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of reposts to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of users who reposted the specified post.",
            "schema": {
              "type": "object",
              "properties": {
                "reposts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "userId": {
                        "type": "string",
                        "description": "The unique identifier of the user who reposted."
                      },
                      "repostedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the post was reposted."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.graph.getRelationships": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Relationships",
        "description": "Retrieves the relationships between the specified actor and a list of other actors, such as follows  and blocks. This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`) and typically  requires authentication. For further details, see the  [API Hosts and Auth guide](https://docs.bsky.app/docs/advanced-guides/api-directory).\n",
        "operationId": "getRelationships",
        "parameters": [
          {
            "name": "subject",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The DID or handle of the primary actor whose relationships are being queried.",
            "x-ms-summary": "Primary actor identifier"
          },
          {
            "name": "actors",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "description": "A comma-separated list of DIDs or handles for other actors to query relationships with.",
            "x-ms-summary": "Target actor identifiers"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved relationships for the specified actors.",
            "schema": {
              "type": "object",
              "properties": {
                "relationships": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Relationship"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/app.bsky.graph.getSuggestedFollowsByActor": {
      "get": {
        "tags": [
          "app.bsky.graph"
        ],
        "summary": "Get Suggested Follows by Actor",
        "description": "Retrieves a list of suggested accounts for the specified actor to follow based on shared connections or interests. This endpoint is part of the Bluesky application Lexicon APIs (`app.bsky.*`) and typically requires authentication. For further details, see the  [API Hosts and Auth guide](https://docs.bsky.app/docs/advanced-guides/api-directory).\n",
        "operationId": "getSuggestedFollowsByActor",
        "parameters": [
          {
            "name": "actor",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The DID or handle of the actor for whom suggested follows are being retrieved.",
            "x-ms-summary": "Actor identifier"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of suggested follows to retrieve.",
            "x-ms-summary": "Suggestions limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results, provided by the previous response.",
            "x-ms-summary": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved suggested follows for the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "suggestions": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/User"
                  }
                },
                "cursor": {
                  "type": "string",
                  "description": "Cursor for the next set of results, if available."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/app.bsky.feed.getSuggestedFeeds": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Suggested Feeds",
        "description": "Retrieves a list of suggested feeds for the user based on their activity and interests within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "getSuggestedFeeds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of suggested feeds to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of suggested feeds for the user.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "feedId": {
                    "type": "string",
                    "description": "The unique identifier of the suggested feed."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the suggested feed."
                  },
                  "description": {
                    "type": "string",
                    "description": "A brief description of the suggested feed."
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The timestamp when the feed was created."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getActorFeeds": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Actor Feeds",
        "description": "Retrieves a list of feeds created or associated with a specific actor (user) within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "getActorFeeds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor whose feeds are being retrieved.",
            "x-ms-summary": "Actor ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of feeds to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of feeds associated with the specified actor.",
            "schema": {
              "type": "object",
              "properties": {
                "feeds": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "feedId": {
                        "type": "string",
                        "description": "The unique identifier of the feed."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the feed."
                      },
                      "description": {
                        "type": "string",
                        "description": "A brief description of the feed."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the feed was created."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified actor does not exist or has no associated feeds.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getAuthorFeed": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Author Feed",
        "description": "Retrieves the feed of posts created by a specific author (user) within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "getAuthorFeed",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the author whose feed is being retrieved.",
            "x-ms-summary": "Author ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of posts to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the feed of the specified author.",
            "schema": {
              "type": "object",
              "properties": {
                "feed": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "postId": {
                        "type": "string",
                        "description": "The unique identifier of the post."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the post was created."
                      },
                      "content": {
                        "type": "object",
                        "description": "The content of the post.",
                        "properties": {
                          "text": {
                            "type": "string",
                            "description": "The text content of the post."
                          },
                          "media": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of media (e.g., image, video)."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL of the media."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified author does not exist or has no posts.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getFeed": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed",
        "description": "Retrieves the main feed for a user, including posts from followed accounts and recommended content within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "getFeed",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the user whose main feed is being retrieved.",
            "x-ms-summary": "User ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of posts to retrieve in the feed.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the main feed for the specified user.",
            "schema": {
              "type": "object",
              "properties": {
                "feed": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "postId": {
                        "type": "string",
                        "description": "The unique identifier of the post."
                      },
                      "authorId": {
                        "type": "string",
                        "description": "The unique identifier of the author of the post."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the post was created."
                      },
                      "content": {
                        "type": "object",
                        "description": "The content of the post.",
                        "properties": {
                          "text": {
                            "type": "string",
                            "description": "The text content of the post."
                          },
                          "media": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of media (e.g., image, video)."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL of the media."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified user does not exist or has no feed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getFeedGenerator": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed Generator",
        "description": "Retrieves posts and related content from a specified feed generator within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "getFeedGenerator",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generatorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the feed generator.",
            "x-ms-summary": "Feed Generator ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of posts to retrieve.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results.",
            "x-ms-summary": "Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the posts from the specified feed generator.",
            "schema": {
              "type": "object",
              "properties": {
                "feed": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "postId": {
                        "type": "string",
                        "description": "The unique identifier of the post."
                      },
                      "authorId": {
                        "type": "string",
                        "description": "The unique identifier of the author of the post."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The timestamp when the post was created."
                      },
                      "content": {
                        "type": "object",
                        "description": "The content of the post.",
                        "properties": {
                          "text": {
                            "type": "string",
                            "description": "The text content of the post."
                          },
                          "media": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of media (e.g., image, video)."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL of the media."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified feed generator does not exist or has no posts.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.getFeedGenerators": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Get Feed Generators",
        "description": "Retrieves metadata about multiple feed generators within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "getFeedGenerators",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generatorIds",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of unique identifiers for the feed generators to retrieve.",
            "x-ms-summary": "Feed Generator IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved metadata for the specified feed generators.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "generatorId": {
                    "type": "string",
                    "description": "The unique identifier of the feed generator."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the feed generator."
                  },
                  "description": {
                    "type": "string",
                    "description": "A brief description of the feed generator."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/app.bsky.feed.describeFeedGenerator": {
      "get": {
        "tags": [
          "app.bsky.feed"
        ],
        "summary": "Describe Feed Generator",
        "description": "Retrieves metadata and configuration details about a feed generator within the Bluesky network. This endpoint is part of the `app.bsky.feed` namespace and requires authentication.",
        "operationId": "describeFeedGenerator",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generatorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the feed generator.",
            "x-ms-summary": "Feed Generator ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved metadata and configuration details for the feed generator.",
            "schema": {
              "type": "object",
              "properties": {
                "generatorId": {
                  "type": "string",
                  "description": "The unique identifier of the feed generator."
                },
                "name": {
                  "type": "string",
                  "description": "The name of the feed generator."
                },
                "description": {
                  "type": "string",
                  "description": "A description of the feed generator."
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The timestamp when the feed generator was created."
                },
                "config": {
                  "type": "object",
                  "description": "Configuration details for the feed generator."
                }
[...]
