{
  "swagger": "2.0",
  "info": {
    "title": "Bluesky Control Panel",
    "description": "Companion connector to Bluesky (Independent Publisher) for admin, tools, and chat functions.",
    "version": "1.0"
  },
  "host": "bsky.social",
  "basePath": "/xrpc",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/chat.bsky.actor.deleteAccount": {
      "post": {
        "tags": [
          "chat.bsky.actor"
        ],
        "summary": "Delete Account",
        "description": "Permanently deletes an account and all associated data. This endpoint is part of the chat.bsky namespace and requires authentication.",
        "operationId": "DeleteAccount",
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor whose account is being deleted.",
            "x-ms-summary": "Actor identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the account.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the account was successfully deleted."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.actor.exportAccountData": {
      "post": {
        "tags": [
          "chat.bsky.actor"
        ],
        "summary": "Export Account Data",
        "description": "Exports account data for the authenticated user, allowing them to back up or transfer information. This endpoint is part of the `chat.bsky` namespace and requires authentication.",
        "operationId": "ExportAccountData",
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor exporting their data.",
            "x-ms-summary": "Actor identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully exported account data.",
            "schema": {
              "type": "object",
              "properties": {
                "dataUrl": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL to download the exported account data."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.convo.deleteMessageForSelf": {
      "post": {
        "tags": [
          "chat.bsky.convo"
        ],
        "summary": "Delete Message for Self",
        "description": "Deletes a specific message from the user’s view without affecting other participants' views. This endpoint is part of the `chat.bsky` namespace and requires authentication.",
        "operationId": "DeleteMessageForSelf",
        "parameters": [
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the message to delete.",
            "x-ms-summary": "Message identifier"
          },
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor deleting the message.",
            "x-ms-summary": "Actor identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the message for the actor.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the message was successfully deleted from the actor's view."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.convo.getConvoForMembers": {
      "get": {
        "tags": [
          "chat.bsky.convo"
        ],
        "summary": "Get Convo for Members",
        "description": "Retrieves a conversation for specified members, based on unique identifiers for the members. This endpoint is part of the `chat.bsky` namespace and requires authentication.",
        "operationId": "GetConvoForMembers",
        "parameters": [
          {
            "name": "memberIds",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "description": "A comma-separated list of member IDs for the conversation.",
            "x-ms-summary": "Member IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the conversation for specified members.",
            "schema": {
              "type": "object",
              "properties": {
                "convoId": {
                  "type": "string",
                  "description": "Unique identifier for the conversation."
                },
                "members": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of member IDs in the conversation."
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Message"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.convo.getConvo": {
      "get": {
        "tags": [
          "chat.bsky.convo"
        ],
        "summary": "Get Convo",
        "description": "Retrieves a conversation by its unique identifier. This endpoint is part of the `chat.bsky` namespace and requires authentication.",
        "operationId": "GetConvo",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier for the conversation.",
            "x-ms-summary": "Conversation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the conversation.",
            "schema": {
              "type": "object",
              "properties": {
                "convoId": {
                  "type": "string",
                  "description": "Unique identifier for the conversation."
                },
                "members": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of member IDs in the conversation."
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Message"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.convo.getLog": {
      "get": {
        "tags": [
          "chat.bsky.convo"
        ],
        "summary": "Get Log",
        "description": "Retrieves the log (message history) of a specific conversation by its unique identifier.  This endpoint is part of the `chat.bsky` namespace and requires authentication.\n",
        "operationId": "GetConvoLog",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier for the conversation to retrieve the log.",
            "x-ms-summary": "Conversation ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of messages to retrieve in the log.",
            "x-ms-summary": "Log limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results, provided by the previous response.",
            "x-ms-summary": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the conversation log.",
            "schema": {
              "type": "object",
              "properties": {
                "convoId": {
                  "type": "string",
                  "description": "Unique identifier for the conversation."
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Message"
                  }
                },
                "cursor": {
                  "type": "string",
                  "description": "Cursor for the next set of results, if available."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.convo.getMessages": {
      "get": {
        "tags": [
          "chat.bsky.convo"
        ],
        "summary": "Get Messages",
        "description": "Retrieves a list of messages in a specific conversation by its unique identifier. This  endpoint is part of the `chat.bsky` namespace and requires authentication.\n",
        "operationId": "GetMessages",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier for the conversation to retrieve messages from.",
            "x-ms-summary": "Conversation ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of messages to retrieve.",
            "x-ms-summary": "Messages limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results, provided by the previous response.",
            "x-ms-summary": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved messages in the conversation.",
            "schema": {
              "type": "object",
              "properties": {
                "convoId": {
                  "type": "string",
                  "description": "Unique identifier for the conversation."
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Message"
                  }
                },
                "cursor": {
                  "type": "string",
                  "description": "Cursor for the next set of results, if available."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.convo.leaveConvo": {
      "post": {
        "tags": [
          "chat.bsky.convo"
        ],
        "summary": "Leave Convo",
        "description": "Allows the authenticated user to leave a specific conversation, removing it from their active  conversations. This endpoint is part of the `chat.bsky` namespace and requires authentication.\n",
        "operationId": "LeaveConvo",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier for the conversation to leave.",
            "x-ms-summary": "Conversation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully left the conversation.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the user successfully left the conversation."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.convo.listConvos": {
      "get": {
        "tags": [
          "chat.bsky.convo"
        ],
        "summary": "List Convos",
        "description": "Retrieves a list of active conversations for the authenticated user. This endpoint is part  of the `chat.bsky` namespace and requires authentication.\n",
        "operationId": "ListConvos",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of conversations to retrieve.",
            "x-ms-summary": "Conversations limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for paginated results, provided by the previous response.",
            "x-ms-summary": "Pagination cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of conversations.",
            "schema": {
              "type": "object",
              "properties": {
                "convos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Conversation"
                  }
                },
                "cursor": {
                  "type": "string",
                  "description": "Cursor for the next set of results, if available."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.convo.muteConvo": {
      "post": {
        "tags": [
          "chat.bsky.convo"
        ],
        "summary": "Mute Convo",
        "description": "Mutes a specific conversation for the authenticated user, disabling notifications for that  conversation. This endpoint is part of the `chat.bsky` namespace and requires authentication.\n",
        "operationId": "MuteConvo",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier for the conversation to mute.",
            "x-ms-summary": "Conversation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully muted the conversation.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the conversation was successfully muted."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.convo.sendMessageBatch": {
      "post": {
        "tags": [
          "chat.bsky.convo"
        ],
        "summary": "Send Message Batch",
        "description": "Sends multiple messages to a specified conversation in a batch. This endpoint is part of the  `chat.bsky` namespace and requires authentication.\n",
        "operationId": "SendMessageBatch",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier for the conversation to which messages are being sent.",
            "x-ms-summary": "Conversation ID"
          },
          {
            "name": "messages",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Content of the message."
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp of when the message was created."
                  }
                }
              }
            },
            "x-ms-summary": "Messages batch"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully sent messages batch.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the batch of messages was successfully sent."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.convo.sendMessage": {
      "post": {
        "tags": [
          "chat.bsky.convo"
        ],
        "summary": "Send Message",
        "description": "Sends a single message to a specified conversation. This endpoint is part of the `chat.bsky`  namespace and requires authentication.\n",
        "operationId": "SendMessage",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier for the conversation to which the message is being sent.",
            "x-ms-summary": "Conversation ID"
          },
          {
            "name": "content",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string",
                  "description": "Content of the message."
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp of when the message was created."
                }
              }
            },
            "x-ms-summary": "Message content"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully sent the message.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the message was successfully sent."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.convo.unmuteConvo": {
      "post": {
        "tags": [
          "chat.bsky.convo"
        ],
        "summary": "Unmute Convo",
        "description": "Unmutes a specific conversation for the authenticated user, re-enabling notifications for  that conversation. This endpoint is part of the `chat.bsky` namespace and requires authentication.\n",
        "operationId": "UnmuteConvo",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier for the conversation to unmute.",
            "x-ms-summary": "Conversation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully unmuted the conversation.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the conversation was successfully unmuted."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.convo.updateRead": {
      "post": {
        "tags": [
          "chat.bsky.convo"
        ],
        "summary": "Update Read",
        "description": "Marks the conversation as read up to a specified message, updating the read status for the  authenticated user. This endpoint is part of the `chat.bsky` namespace and requires authentication.\n",
        "operationId": "UpdateRead",
        "parameters": [
          {
            "name": "convoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier for the conversation.",
            "x-ms-summary": "Conversation ID"
          },
          {
            "name": "lastReadMessageId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the last read message in the conversation.",
            "x-ms-summary": "Last read message ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the read status for the conversation.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the read status was successfully updated."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.moderation.getActorMetadata": {
      "get": {
        "tags": [
          "chat.bsky.moderation"
        ],
        "summary": "Get Actor Metadata",
        "description": "Retrieves metadata for a specific actor, including any moderation details. This endpoint  is part of the `chat.bsky` namespace and typically requires authentication.\n",
        "operationId": "GetActorMetadata",
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier for the actor whose metadata is being retrieved.",
            "x-ms-summary": "Actor ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved actor metadata.",
            "schema": {
              "type": "object",
              "properties": {
                "actorId": {
                  "type": "string",
                  "description": "Unique identifier for the actor."
                },
                "metadata": {
                  "type": "object",
                  "description": "Metadata details for the actor, including moderation information."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.moderation.getMessageContext": {
      "get": {
        "tags": [
          "chat.bsky.moderation"
        ],
        "summary": "Get Message Context",
        "description": "Retrieves the context of a specific message, including any moderation details. This endpoint  is part of the `chat.bsky` namespace and typically requires authentication.\n",
        "operationId": "GetMessageContext",
        "parameters": [
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the message for which context is being retrieved.",
            "x-ms-summary": "Message ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved message context.",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "Unique identifier for the message."
                },
                "context": {
                  "type": "object",
                  "description": "Context details of the message, including moderation information."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/chat.bsky.moderation.updateActorAccess": {
      "post": {
        "tags": [
          "chat.bsky.moderation"
        ],
        "summary": "Update Actor Access",
        "description": "Updates the access level for a specific actor, allowing moderation actions to be applied.  This endpoint is part of the `chat.bsky` namespace and requires authentication.\n",
        "operationId": "UpdateActorAccess",
        "parameters": [
          {
            "name": "actorId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the actor whose access level is being updated.",
            "x-ms-summary": "Actor ID"
          },
          {
            "name": "accessLevel",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "level": {
                  "type": "string",
                  "description": "New access level for the actor (e.g., restricted, allowed)."
                }
              }
            },
            "x-ms-summary": "Access level update"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated actor access level.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the actor's access level was successfully updated."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.admin.deleteAccount": {
      "post": {
        "tags": [
          "com.atproto.admin"
        ],
        "summary": "Delete Account",
        "description": "Permanently deletes an account along with all associated data. This endpoint is part of the  `atproto.admin` namespace and requires authentication.\n",
        "operationId": "AdminDeleteAccount",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the account to be deleted.",
            "x-ms-summary": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the account.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the account was successfully deleted."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.admin.disableAccountInvites": {
      "post": {
        "tags": [
          "com.atproto.admin"
        ],
        "summary": "Disable Account Invites",
        "description": "Disables all invite codes generated by an account, preventing them from being used. This endpoint  is part of the `atproto.admin` namespace and requires authentication.\n",
        "operationId": "DisableAccountInvites",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the account whose invites are being disabled.",
            "x-ms-summary": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully disabled invites for the specified account.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the account's invites were successfully disabled."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.admin.disableInviteCodes": {
      "post": {
        "tags": [
          "com.atproto.admin"
        ],
        "summary": "Disable Invite Codes",
        "description": "Disables specified invite codes, rendering them unusable. This endpoint is part of the  `atproto.admin` namespace and requires authentication.\n",
        "operationId": "DisableInviteCodes",
        "parameters": [
          {
            "name": "inviteCodes",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of invite codes to disable."
            },
            "x-ms-summary": "Invite codes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully disabled the specified invite codes.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the invite codes were successfully disabled."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.admin.enableAccountInvites": {
      "post": {
        "tags": [
          "com.atproto.admin"
        ],
        "summary": "Enable Account Invites",
        "description": "Enables invite codes for a specified account, allowing new invite codes to be generated. This  endpoint is part of the `atproto.admin` namespace and requires authentication.\n",
        "operationId": "EnableAccountInvites",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the account for which invites are being enabled.",
            "x-ms-summary": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully enabled invites for the specified account.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if invites were successfully enabled for the account."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.admin.getAccountInfo": {
      "get": {
        "tags": [
          "com.atproto.admin"
        ],
        "summary": "Get Account Info",
        "description": "Retrieves information for a specific account based on its unique identifier. This endpoint  is part of the `atproto.admin` namespace and requires authentication.\n",
        "operationId": "GetAccountInfo",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the account whose information is being retrieved.",
            "x-ms-summary": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved account information.",
            "schema": {
              "type": "object",
              "properties": {
                "accountId": {
                  "type": "string",
                  "description": "Unique identifier for the account."
                },
                "email": {
                  "type": "string",
                  "format": "email",
                  "description": "Email associated with the account."
                },
                "status": {
                  "type": "string",
                  "description": "Status of the account (e.g., active, suspended)."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.admin.getAccountInfos": {
      "get": {
        "tags": [
          "com.atproto.admin"
        ],
        "summary": "Get Account Infos",
        "description": "Retrieves information for multiple accounts. This endpoint is part of the `atproto.admin`  namespace and requires authentication.\n",
        "operationId": "GetAccountInfos",
        "parameters": [
          {
            "name": "accountIds",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "description": "A comma-separated list of account IDs to retrieve information for.",
            "x-ms-summary": "Account IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved information for multiple accounts.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "accountId": {
                    "type": "string",
                    "description": "Unique identifier for the account."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email associated with the account."
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the account (e.g., active, suspended)."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.admin.getInviteCodes": {
      "get": {
        "tags": [
          "com.atproto.admin"
        ],
        "summary": "Get Invite Codes",
        "description": "Retrieves a list of invite codes, including their status and usage details. This endpoint  is part of the `atproto.admin` namespace and requires authentication.\n",
        "operationId": "GetInviteCodes",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The unique identifier of the account for which invite codes are retrieved.",
            "x-ms-summary": "Account ID"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by invite code status (e.g., active, expired).",
            "x-ms-summary": "Invite code status"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of invite codes.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The invite code."
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the invite code."
                  },
                  "uses": {
                    "type": "integer",
                    "description": "Number of times the invite code has been used."
                  },
                  "maxUses": {
                    "type": "integer",
                    "description": "Maximum allowed uses for the invite code."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.admin.getSubjectStatus": {
      "get": {
        "tags": [
          "com.atproto.admin"
        ],
        "summary": "Get Subject Status",
        "description": "Retrieves the moderation status for a specific subject (e.g., an account or content). This  endpoint is part of the `atproto.admin` namespace and requires authentication.\n",
        "operationId": "GetSubjectStatus",
        "parameters": [
          {
            "name": "subjectId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the subject whose status is being retrieved.",
            "x-ms-summary": "Subject ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved subject status.",
            "schema": {
              "type": "object",
              "properties": {
                "subjectId": {
                  "type": "string",
                  "description": "Unique identifier for the subject."
                },
                "status": {
                  "type": "string",
                  "description": "Moderation status of the subject (e.g., active, suspended)."
                },
                "lastUpdated": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when the subject status was last updated."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.admin.searchAccounts": {
      "get": {
        "tags": [
          "com.atproto.admin"
        ],
        "summary": "Search Accounts",
        "description": "Searches for accounts based on specified criteria, such as email or username. This endpoint  is part of the `atproto.admin` namespace and requires authentication.\n",
        "operationId": "SearchAccounts",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Search term for finding accounts (e.g., email, username).",
            "x-ms-summary": "Search query"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter results by account status (e.g., active, suspended).",
            "x-ms-summary": "Account status"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of results to retrieve.",
            "x-ms-summary": "Results limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved search results for accounts.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "accountId": {
                    "type": "string",
                    "description": "Unique identifier for the account."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email associated with the account."
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the account (e.g., active, suspended)."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.admin.sendEmail": {
      "post": {
        "tags": [
          "com.atproto.admin"
        ],
        "summary": "Send Email",
        "description": "Sends an email to a specified account, allowing administrators to communicate directly with users. This endpoint is part of the `atproto.admin` namespace and requires authentication.\n",
        "operationId": "SendEmail",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the account to send the email to.",
            "x-ms-summary": "Account ID"
          },
          {
            "name": "emailContent",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "subject": {
                  "type": "string",
                  "description": "Subject of the email."
                },
                "body": {
                  "type": "string",
                  "description": "Body content of the email."
                }
              }
            },
            "x-ms-summary": "Email content"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully sent the email.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the email was successfully sent."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.admin.updateAccountEmail": {
      "post": {
        "tags": [
          "com.atproto.admin"
        ],
        "summary": "Update Account Email",
        "description": "Updates the email associated with a specified account. This endpoint is part of the  `atproto.admin` namespace and requires authentication.\n",
        "operationId": "UpdateAccountEmail",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the account to update.",
            "x-ms-summary": "Account ID"
          },
          {
            "name": "newEmail",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "email",
            "description": "New email address to associate with the account.",
            "x-ms-summary": "New email address"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the account email.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the email was successfully updated."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.admin.updateAccountHandle": {
      "post": {
        "tags": [
          "com.atproto.admin"
        ],
        "summary": "Update Account Handle",
        "description": "Updates the handle associated with a specified account. This endpoint is part of the  `atproto.admin` namespace and requires authentication.\n",
        "operationId": "UpdateAccountHandle",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the account to update.",
            "x-ms-summary": "Account ID"
          },
          {
            "name": "newHandle",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "New handle to associate with the account.",
            "x-ms-summary": "New handle"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the account handle.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the handle was successfully updated."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.admin.updateAccountPassword": {
      "post": {
        "tags": [
          "com.atproto.admin"
        ],
        "summary": "Update Account Password",
        "description": "Updates the password for a specified account. This endpoint is part of the `atproto.admin`  namespace and requires authentication.\n",
        "operationId": "UpdateAccountPassword",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the account for which the password is being updated.",
            "x-ms-summary": "Account ID"
          },
          {
            "name": "newPassword",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The new password for the account.",
            "x-ms-summary": "New password"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the account password.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the password was successfully updated."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.admin.updateSubjectStatus": {
      "post": {
        "tags": [
          "com.atproto.admin"
        ],
        "summary": "Update Subject Status",
        "description": "Updates the moderation status for a specified subject (e.g., an account or content). This endpoint  is part of the `atproto.admin` namespace and requires authentication.\n",
        "operationId": "UpdateSubjectStatus",
        "parameters": [
          {
            "name": "subjectId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the subject whose status is being updated.",
            "x-ms-summary": "Subject ID"
          },
          {
            "name": "newStatus",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The new moderation status for the subject (e.g., active, suspended).",
            "x-ms-summary": "New status"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the subject's status.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the subject's status was successfully updated."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.identity.getRecommendedDIDCredentials": {
      "get": {
        "tags": [
          "com.atproto.identity"
        ],
        "summary": "Get Recommended DID Credentials",
        "description": "Retrieves a list of recommended DID (Decentralized Identifier) credentials for the authenticated user. This endpoint is part of the `atproto.identity` namespace and requires authentication.\n",
        "operationId": "GetRecommendedDIDCredentials",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successfully retrieved recommended DID credentials.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "did": {
                    "type": "string",
                    "description": "The recommended DID."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the DID credential."
                  },
                  "issuedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the credential was issued."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.identity.requestPLCOperationSignature": {
      "post": {
        "tags": [
          "com.atproto.identity"
        ],
        "summary": "Request PLC Operation Signature",
        "description": "Requests a signature for a PLC (Portable Lightweight Credentials) operation, enabling actions  requiring signed verification. This endpoint is part of the `atproto.identity` namespace and requires authentication.\n",
        "operationId": "RequestPLCOperationSignature",
        "parameters": [
          {
            "name": "operationPayload",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "operation": {
                  "type": "string",
                  "description": "The payload of the PLC operation to be signed."
                }
              }
            },
            "x-ms-summary": "Operation payload"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully requested PLC operation signature.",
            "schema": {
              "type": "object",
              "properties": {
                "signature": {
                  "type": "string",
                  "description": "The generated signature for the PLC operation."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.identity.resolveHandle": {
      "get": {
        "tags": [
          "com.atproto.identity"
        ],
        "summary": "Resolve Handle",
        "description": "Resolves a user handle to its associated decentralized identifier (DID), facilitating actions  that require the DID. This endpoint is part of the `atproto.identity` namespace.\n",
        "operationId": "ResolveHandle",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The user handle to be resolved to a DID.",
            "x-ms-summary": "Handle"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully resolved handle to DID.",
            "schema": {
              "type": "object",
              "properties": {
                "did": {
                  "type": "string",
                  "description": "The resolved decentralized identifier for the handle."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.identity.signPLCOperation": {
      "post": {
        "tags": [
          "com.atproto.identity"
        ],
        "summary": "Sign PLC Operation",
        "description": "Signs a PLC (Portable Lightweight Credentials) operation, returning a signed version of the operation payload. This endpoint is part of the `atproto.identity` namespace and requires authentication.\n",
        "operationId": "SignPLCOperation",
        "parameters": [
          {
            "name": "operationPayload",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "operation": {
                  "type": "string",
                  "description": "The PLC operation payload to be signed."
                }
              }
            },
            "x-ms-summary": "Operation payload"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully signed the PLC operation.",
            "schema": {
              "type": "object",
              "properties": {
                "signedOperation": {
                  "type": "string",
                  "description": "The signed version of the PLC operation payload."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "enum": [
                    "InvalidRequest",
                    "ExpiredToken",
                    "InvalidToken"
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "type": "object",
              "required": [
                "error",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error code indicating missing authentication."
                },
                "message": {
                  "type": "string",
                  "description": "Detailed error message for unauthorized access."
                }
              }
            }
          }
        }
      }
    },
    "/com.atproto.identity.updateHandle": {
      "post": {
        "tags": [
          "com.atproto.identity"
        ],
        "summary": "Update Handle",
        "description": "Updates the handle associated with the authenticated user. This endpoint is part of the  `atproto.identity` namespace and requires authentication.\n",
        "operationId": "UpdateHandle",
        "parameters": [
          {
            "name": "newHandle",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The new handle to be associated with the user.",
            "x-ms-summary": "New handle"
          }
        ],
        "responses": {
          "200": {
[...]
